/* Set main site font type */
/* 
    Created on : September 10th, 2014, 1:38:40 PM
    Author     : derek
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
/* Eric Myer's HTML5 Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.login-body {
    background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/138487/1003061/4xNhAU7zAHMYyI3/BG.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 50% 50% !important;
    background-color: #ccc;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Some changes */
html,body { height: 100%; }
.clear { clear: both; }
a { text-decoration: none; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../Bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../../Bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../../Bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('../../Bootstrap/fonts/glyphicons-halflings-regular.woff') format('x-font-woff'), 
       url('../../Bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../../Bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* Global Styles */
/* Set base colors, sizes, padding, margins and such */
h1, h2, h3, h4, h5 { font-weight: 400; }
html, body, p, span, div, li, a { font-family: 'Open Sans', sans-serif; line-height: 1.5em;} 
h1 { font-weight: 300!important; }

/* reset some annoyances */
body {
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
}
a, u {
    text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Global Styles */
/* Set base colors, sizes, padding, margins and such */
h1, h2, h3, h4, h5 { font-weight: 400; }
h1 { font-size: 2.5em; color: white; }
h2 { font-size: 2.0em; color: black; }
.container { padding: 0 0; }
/*-->Backgrounds */
.green-background { background: #A6CE39!important; }
.green-text { color: #A6CE39; }
.purple-background { background: #412985; }
.purple-transparent-background { background: rgba(65,41,133, 0.8); }
.transparent-background { background: rgba(65,41,133, 0.8); }
.orange-background { background: #F58220; }
.complimentary-orange-bg { background: #FF8319; }
.white-background { background: #fff; }
.gray-background { background: rgb(204, 204, 204); }
.black-overlay { background: rgba(0, 0, 0, 0.8); }
.black-overlay p, .black-overlay li { color: #efefef; padding: 4px 0; }
.sponsor-black-overlay { background: rgba(0, 0, 0, 0.6); height: 1350px; }
.signup-black-overlay { background: rgba(0, 0, 0, 0.6); height: 1180px; }
.dark-orange-background { background: #E27A22; color: #fff; }
.dark-gray-background { background-color: #3e3e3d; }
.hero-section { 
	background: url(http://cdn2.hubspot.net/hub/37772/file-1508654433-png/Conference_Images/conference-header-hero.png) no-repeat center center rgba(0,0,0,1);
	margin-top: 3%;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*-->Text Colors */
.purple-text { color: #412985!important; }
.orange-text { color: #F58220; }
.force-orange-text { color: #F58220!important; }
.red-text { color: red; }
.white-text { color: white; }
.off-white-text { color: #efefef; }
.gray-text { color: rgb(204, 204, 204); }
.lighter { color: #a0a0a0; }

/*-->Text Control */
.center-text { text-align: center; }
.justify-text { text-align: justify; }
.left-text { text-align: left; }
.right-text { text-align: right; }
.less-heavy-font { font-weight: lighter; }
.lighter-font { font-weight: 100; }

/*-->Margins */
.small-margin { margin: 2% 2%; }

/*-->Padding */
.small-padding { padding: 10px 0; }
.medium-padding { padding: 40px 10px; }
.large-padding { padding: 80px 0; }
.small-waist { padding-left: 10px; padding-right: 10px; }

/*-->Grid help */
.center { display: block; text-align: center; }
.center div, .center img, .center span { display: inline-block; }

/*-->Floating */
.pull-right { float: right!important; }
.pull-left { float: left!important; }
.clearfix { clear:both; }

/*-->Displays */
.hidden { display: none; }
.fix-block { display: block; }
.inline-element { display: inline-block; }
.block-element { display: block; }
.page-center { width: 1100px; float: none; margin: 0 auto; }

/*-->Forms */
.inp-field { height: 40px; border-radius: 5px; border: solid 1px #ccc; padding: 9px; margin: 10px 0px; width: 100%;}
.has-error { border-color: red; color: red; }

/* ============================
   HEADER 
   ============================*/
.header { display: block; }

/*-->logo */
.conference-logo { display: inline-block; margin-top: 3px; }
.conference-logo img { max-width: 75%; }

/*-->navigation */
.conference-nav-container { display: inline-block; }
.conference-nav-container ul, .conference-nav-container ol, .conference-nav-container li { list-style: none; margin: -3px 0 0 0; padding: 0; }
.conference-nav-container ul li { float: left;  padding: 20px 20px; }
.conference-nav-container ul li a { color: white;  padding: 12px 0px; text-decoration: none; }
.conference-nav-container ul li a:hover { padding: 12px 0px; border-bottom: 8px solid white; }
.conference-nav-container ul li:last-child a { 
	margin: -2px; 
	background: rgba(245, 130, 32, 1); 
	padding: 7px 9px!important; 
	border-radius: 10px; 
	-webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}
.conference-nav-container ul li:last-child a:hover { border: none; opacity: 0.8; }

/*-->progress bar */
@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

.checkout-wrap {
  color: #444;
  margin: 0 auto 40px auto;
  max-width: 1200px;
  position: relative;
  padding: 0 0 20px 0;
}

ul.checkout-bar {
  margin: 0 20px;
}
ul.checkout-bar li {
  color: #412985!important;
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #f58220;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #f58220;
  z-index: 99999;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #412985;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #412985;
  z-index: 99999;
}
ul.checkout-bar .m-marketplace li:before {
  content: "1";
}
ul.checkout-bar .m-profile li:before {
  content: "2";
}
ul.checkout-bar .m-guide li:before {
  content: "3";
}
ul.checkout-bar .m-raffle li:before {
  content: "4";
}
ul.checkout-bar .m-tickets li:before {
  content: "5";
}
ul.checkout-bar .m-sponsors li:before {
  content: "6";
}
ul.checkout-bar a {
  color: #ccc;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.sponsorship-details-highlight { background: rgba(245, 130, 32, 1); padding: 20px!important; }



@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    /*background-color: #f58220;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); */
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .checkout-wrap {
    margin: 80px auto;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #412985;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 16%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #412985;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}

ul.checkout-bar li { vertical-align: top; }


/* Form body */
/*-->form title */
span.completed-section { color: #5CB85C; font-size: 24px; font-size: 1.4rem; }

/*-->input elements */
.inp-field { color: black; }
.description-text { min-height: 80px!important; max-width: 100%;}
.form-title { line-height: 1em; }
.update-cancel { margin-left: 0!important; margin-right: 0!important; }

/*-->market form */
.market-submit { width: 100%; padding: 10px; }
.logo-preview img { width: 100%;  }
#wysihtml5-toolbar { padding-top: 15px; }
.wysihtml5-sandbox { margin-bottom: 0!important; }
.word_count { padding-top: 0!important; text-align: right; }
#categorySelect { color: #412985!important; }
#subCategorySelect { color: #412985!important; }
span.sold-out { color: #ccc!important; }
.create-link-container { margin: 10px 10px; }

/*-->raffle form */
.vip-section { background: rgba(0,0,0,0.3); padding: 15px; border-radius: 10px; margin: 1%; }

/* FOOTER */
.footer-item-left { font-size: 1.3em; }
.footer-item-right h3 { font-size: 1.2em!important; }
.footer-location-information { font-size: 1.8em; color: white;}
.footer-location-information a:hover { color: white; }
.location-dot { height: 15px; width: 15px; border-radius: 150px; margin-bottom: 2px!important; }
/* MEDIA QUERIES */
@media(max-width: 512px) {
  .conference-header-container { height: 200px!important; }
}

@media(max-width: 770px) {
  .company-title { margin-left: 3%; }
}

@media(max-width: 926px) {
  .conference-header-container { height: 150px; }
}

@media(max-width: 992px) {
  .inp-field { max-width: 100%; }
  .exhibitor-form { width: 75%; margin: 0 auto; }
  .guide-advertisement-form { text-align: justify; max-width: 500px; margin: 0 auto; }
  form { text-align: justify; max-width: 400px; margin: 0 auto; }
  input[name=company_logo] { margin: 0 auto; }
}

@media(max-width: 1095px) {
	/*-->page center */
	.page-center { width: 100%; float: none; margin: 0 auto; }
  
}