/*
 * PDS Base CSS Sheet
 * 
 * Offical PDS Primary colors:
 * Purple: #412985 or rgb(65,41,133)
 * Orange: #F58220 or rgb(245,130,32)
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/* Firefox hack for responsive tables */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Global Styles */
/* Set base colors, sizes, padding, margins and such */
h1, h2, h3, h4, h5 { font-weight: 400; }
hr { margin-top: 10px; margin-bottom: 10px; }
.green-background { background: #A6CE39!important; }
.green-text { color: #A6CE39; }
.purple-background { background: #412985; }
.purple-transparent-background { background: rgba(65,41,133, 0.8); margin-top: 2.8%; }
.transparent-background { background: rgba(65,41,133, 0.8); }
.purple-text { color: #412985; }
.orange-background { background: #F58220; }
.orange-text { color: #F58220; }
.red-text { color: red; }
.white-text { color: white; }
.white-background { background: #fff; }
.black-overlay { background: rgba(0, 0, 0, 0.6); height: 705px; }
.gray-background { background: rgb(204, 204, 204); }
.gray-text { color: rgb(204, 204, 204); }
.small-margin { margin-top: 10px!important; margin-bottom: 10px!important; margin-left: 0px; margin-right: 0px; }
.small-margin-waist { margin-left: 10px; margin-right: 10px; }
.lighter { color: #a0a0a0; }
.center { display: block; text-align: center; }
.center div, .center img, .center span { display: inline-block; }
.center-text { text-align: center; }
.pull-right { float: right!important; }
.pull-left { float: left!important; }
.justify-text { text-align: justify; }
.left-text { text-align: left; }
.right-text { text-align: right; }
.hidden { display: none; }
.fix-block { display: block!important; }
.inline-element { display: inline-block!important; }
.block-element { display: block; }
.less-heavy-font { font-weight: lighter; }
.lighter-font { font-weight: 100; }
.large-orange-cta { font-size: 2.1em; padding: 20px; }
.dark-orange-background { background: #E27A22; color: #fff; }
p { font-size: inherit; line-height: inherit; }

/*
 * Table Edit Icon
 */
.editInfoIcon:hover {
  cursor: pointer;
}

/*
 * Global add-ons
==============================================*/
.sub-header { padding-bottom: 10px; border-bottom: 1px solid #eee; }

/*
 * Top navigation
 * Hide default border to remove 1px line.
==============================================*/
.navbar-fixed-top { border: 0; }
.dash-supp-btn { border-radius: 10px; background-color: white; text-align: center; margin-top: 13px; padding: 5px 5px; margin: 10px 10px; }
.dash-supp-btn:hover { cursor: hand; background-color: darkorange; }
.dash-supp-btn a { margin-top: 20px; color: #412985!important; padding: 20px 20px; }
.dash-supp-btn a:hover { text-decoration: none; }

/*
 * Sidebar
 */
/* Hide for mobile, show later 
==============================================*/
.sidebar { display: block; }


/*//-->media queries */
/*@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
/*    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}*/

/* Sidebar navigation 
==============================================*/
.nav-sidebar { margin-right: -21px; margin-bottom: 20px; margin-left: -20px; }
.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px; }
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #F58220;
}


/*
 * Main content
==============================================*/
.main { padding: 20px; }
.main .page-header { margin-top: 0; }
.vendor-accounts-listing {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  -ms-column-count: 3;
  -ms-column-gap: 5px;
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  column-count: 3;
  column-gap: 5px;
}


@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/*
 * Dashboard Home
==============================================*/
/*//-->Page specific global styles */
.center { text-align: center; }
.updateBasicInfo input.btn-primary { margin: 10px 10px; }

/* padding helpers */
.mini-padding { padding-top: 10px; padding-bottom: 10px; }
.small-padding { padding-top: 20px; padding-bottom: 20px; }
.medium-padding { padding-top: 40px; padding-bottom: 40px; } 
.large-padding { padding-top: 80px; padding-bottom: 80px; }
.small-waist { padding-left: 20px; padding-right: 20px; }
.medium-waist { padding-left: 40px; padding-right: 40px; }
.large-waist { padding-left: 80px; padding-right: 80px; }

/* Text colors */
.green-text { color: #78AB46; }

/* Background Colors */
.light-gray-background { background: #ccc; }

/*//-->General Users Dash Styles */


/*
 * Placeholder dashboard ideas
==============================================*/
.placeholders { margin-bottom: 30px; text-align: center; }
.placeholders div { margin-left: 70px; }
.placeholders h4 { margin-bottom: 0; }
.placeholder { margin-bottom: 20px; }
.placeholder img { display: inline-block; border-radius: 50%; }
.progress-move { margin-left: 0!important; width: 75%; }
.placeholder-no-progress { margin-top: 2.5em; }
.pass-reset-area { margin-top: 2%; margin-left:16%!important; }
.pass-reset-area input { max-width: 300px; }
.pass-title { font-size: 1.5em; margin-top: 1%; }
.pass-change-btn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #00CC00;
    border: none;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    float: left;
    margin-left: 10px;
}
.pass-change-btn:hover {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    background-color: #00B200;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}
.inp-field, .login-form-submit { margin: 10px 10px; width: 90%; }
.inp-field { height: 40px; border-radius: 5px; border: solid 1px #ccc; padding: 9px; }
.search-field { height: 40px; border-radius: 5px; border: solid 1px #ccc; padding: 9px; margin: 10px 10px; width: 50%; }

/**
 * ACCOUNTS STYLES 
 */
.list-name { color: #412985!important; text-decoration: none; }
.list-name:hover { text-decoration: none; opacity: 0.8; }
.view-listing-btn { background: #412985; border: 1px solid #412985; -webkit-transition: all .4s ease !important; -moz-transition: all .4s ease !important; -o-transition: all .4s ease !important; }
.view-listing-btn:hover { background: #F58220; border: 1px solid #F58220; }

/**
 * ACCOUNTS LIST SEARCH 
 */
.search-submit-btn {  margin: 5px 5px; height: 40px; padding: 10px 10px; }
.table-search-container { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.table-search { width: 100%; padding: 5px; }
.table-search a { height: 40px; margin: 5px 5px; padding: 10px 10px; }

.reset-search { margin: 5px 5px; height: 40px; padding: 10px 10px; }

/** 
 * ACCOUNTS SUMMARY STYLES 
 */
.vendor-description-text { min-height: 100px; max-width: 90%; } 
.vendor-label { margin-left: 10px; font-weight: 600; }
.inp-grp .new-logo { margin-left: 10px; }
iframe.wysihtml5-sandbox { height: 200px!important; }
#wysihtml5-toolbar { margin-left: 10px; }

/*-->listing data */
#vendor-description b, #vendor-description strong { font-weight: 700; }
#vendor-description i { font-style: italic; }

/*-->edit marketplace listing */
.change-marketplace-logo { margin: 20px 20px; }
.input-group { width: 90%; margin-bottom: 10px; margin-left: 10px; }
#listingModal .modal-content { max-height: 95%; }

/**
 * EDIT VENDOR INFORMATION MODAL 
 */
.logo-preview.col-sm-12.center { max-width: 80%; float: none; margin: 0 auto; }

/**
 * VIP TICKET RECIPIENTS STYLES 
 */
 .recipient-container { width: 55%; }

 

 
/**
 * MEDIA QUERIES 
 */

@media (max-width: 767px) {

}

 @media (min-width: 780px) {
  /*-->make listing view preview bigger */ 
  .modal-lg { width: 75%; }
 }

@media (max-width: 993px) {
  .search-field { width: 100%; }
  /*#account-list-container { margin-left: 25%; }*/
  .table-responsive { width: inherit; }
  #group-list-container { margin-left: 25%; }
  #group-list-header { margin-left: 10px; margin-left: 1rem; }
}

@media (min-width: 1440px) {
  /* keep table from getting too stretched in larger monitors ( a transition to make it all pretty as well ) */
  .accounts-listing { -webkit-transition: all .2s ease !important; -moz-transition: all .2s ease !important; -o-transition: all .2s ease !important; }
}

@media (max-width: 1800px) {
  .table-search-container { padding: 10px 10px; }
}
