/*
 * PDS Base CSS Sheet
 * 
 * Offical PDS Primary colors:
 * Purple: #412985 or rgb(65,41,133)
 * Orange: #F58220 or rgb(245,130,32)
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
/* Move down content because we have a fixed navbar that is 50px tall */


/* Firefox hack for responsive tables */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


p { font-size: inherit; line-height: inherit; }
hr { margin-top: 10px; margin-bottom: 10px; }
body { background: #EFEFEF; }
/* Global Styles */
/* Set base colors, sizes, padding, margins and such */
h1, h2, h3, h4, h5 { font-weight: 400; }
.green-background { background: #A6CE39!important; }
.green-text { color: #A6CE39; }
.purple-background { background: #412985; }
.purple-transparent-background { background: rgba(65,41,133, 0.8); margin-top: 2.8%; }
.transparent-background { background: rgba(65,41,133, 0.8); }
.purple-text { color: #412985!important; }
a.purple-text { text-decoration: none; }
a.purple-text:hover { opacity: 0.8; }
.orange-background { background: #F58220; }
.orange-text { color: #F58220!important; }
.red-text { color: red; }
a.red-text:hover { color: red; opacity: 0.7; }
.white-text { color: white; }
.white-background { background: #fff; }
.black-overlay { background: rgba(0, 0, 0, 0.6); height: 705px; }
.gray-background { background: rgb(204, 204, 204); }
.gray-text { color: rgb(204, 204, 204); }
.small-margin { margin-top: 20px; margin-bottom: 20px; }
.large-margin { margin-top: 80px!important; margin-bottom: 80px!important; }
.small-padding { padding: 10px 0; }
.medium-padding { padding: 40px 0; }
.large-padding { padding: 80px 0; }
.lighter { color: #a0a0a0; }
.center { display: block; text-align: center; }
.center div, .center img, .center span { display: inline-block; }
.center-text { text-align: center; }
.pull-right { float: right!important; }
.pull-left { float: left!important; }
.justify-text { text-align: justify; }
.left-text { text-align: left; }
.right-text { text-align: right; }
.hidden { display: none; }
.fix-block { display: block; }
.inline-element { display: inline-block; }
.block-element { display: block; }
.less-heavy-font { font-weight: lighter; }
.lighter-font { font-weight: 100; }
.large-orange-cta { font-size: 2.1em; padding: 20px; }
.dark-orange-background { background: #E27A22; color: #fff; }
img.logo-small-preview { max-width: 300px!important; }


/*
 * Table Edit Icon
 */
.editInfoIcon:hover {
  cursor: pointer;
}

/*
 * Global add-ons
==============================================*/
.sub-header { padding-bottom: 10px; border-bottom: 1px solid #eee; }

/*
 * Top navigation
 * Hide default border to remove 1px line.
==============================================*/
.navbar-fixed-top { border: 0; }
.navbar-inverse { background: #412985; }
.navbar-brand { background: url(http://cdn2.hubspot.net/hub/37772/file-1807979920-png/dash-header.png) center center no-repeat; background-size: 59%; width: 152px; }
.navbar-inverse .navbar-nav>li>a { color: #efefef; }
.dash-supp-btn { border-radius: 10px; background-color: #fff; text-align: center; margin-top: 13px; padding: 5px 5px; margin: 10px 10px; }
.dash-supp-btn:hover { cursor: pointer; background-color: darkorange; }
.dash-supp-btn a { margin-top: 20px; color: #412985; padding: 20px 20px; }
.dash-supp-btn a:hover { text-decoration: none; }
.desktop-version { display: none; }
.top-bar-greeting { display: none; }

@media (min-width: 768px) {
  .mobile-nav { display: none; }
  .dash-supp-btn {display: inline-block; }
  .top-bar-greeting { margin-top: 15px; display: inline-block; }
}

/*
 * Sidebar
 */
/* Hide for mobile, show later 
==============================================*/
.sidebar { display: block; }


//.sidebar { display: none; }

/*//-->media queries */
/*@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /*background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
*/
/* Sidebar navigation 
==============================================*/
.nav-sidebar { margin: 10px -21px; }
.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px; color: #F58220; }
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #F58220;
}



/*
 * Main content
==============================================*/
.main { padding: 20px; }
.main .page-header { margin-top: 0; }

.dash-main .author-img { margin-left: 0!important; }
.dash-main .topic-info > .topic-title { line-height: 1.9rem; }
.user-profile label { width: 100px; margin-bottom: 20px; font-weight: bold; }
.user-profile .user-bio label { margin-bottom: 0; }
.user-profile .topic-comment-count { display: none; }

.user-profile .user-bio p { font-size: 16px; font-size: 1rem; }
.user-bio ol li { list-style-type: decimal; margin-left: 10%; }
.user-bio ul li { list-style-type: disc; margin-left: 9%; }
.user-bio b { font-weight: bold; }
.user-bio.mobile-bio { display: none; }
@media (max-width: 992px) {
    .user-bio.desktop-bio { display: none; }
    .user-bio.mobile-bio { display: block; }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/** 
 * Pharmacy Setup Modal
 *============================================*/
#pharmacySetup .modal-header h4 { float: left; }
.center { text-align: center; }
.setup-progress { max-width: 160px; margin: 0 auto; }
.setup-progress > div.center { border-radius: 50%; background: #F58220; width: 30px; height: 30px; margin: 0px 10px; display: inline-block; }
.setup-progress > div.active { background: #412985; }
.setup-progress > div > p { margin: 3px -4px; color: white; }

#pharmacySetup label { width: 100%; margin-bottom: 5px; }
#pharmacySetup input { margin-bottom: 5px; }
#pharmacySetup .help-block { font-size: 12px; font-size: 0.75rem; }
#pharmacySetup .text-muted { font-size: 12px; font-size: 0.75rem; }
.register-pharmacy .checking-for-existing-pharmacy .form-group > div, .register-pharmacy .checking-for-existing-pharmacy .form-group > label { padding-left: 0; }

.go-to-company-list { margin-left: 16px; }

/*-->hide other info sections initially */
.checking-for-existing-pharmacy { display: none; }
.pharmacy-list { display: none; }
.create-new-pharmacy { display: none; }

@media (max-width: 568px) {
    #pharmacySetup .modal-header h4 { float: none; }
}

/*
 * Dashboard Home
==============================================*/
/*-->announcment box */
.announcement-container { border-radius: 3px; background: url('../images/application/dan-benemoz-fullbody.jpg') left center white; background-repeat: no-repeat; background-size: initial; min-height: 200px; background-position-x: 45px; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4); box-shadow: 0 1px 1px rgba(0,0,0,.4);     -webkit-transition: all .4s ease !important; -moz-transition: all .4s ease !important; -o-transition: all .4s ease !important;}
.announcement-container .announcement-title h2 { position: relative; font-size: 25px; font-size: 1.5625rem; padding: 10px 10px; margin-left: 110px; margin-left: 6.875rem; width: 300px; }
.announcement-container .announcement-title h2 span { position: absolute; right: 50px; top: 18px; font-size: 20px; }
.announcement-container .announcement-title h2 span:hover { cursor: pointer; }
.announcement-container .announcement-update-quote { display: none; }
.announcement-container .announcement-quote, .announcement-container .announcement-update-quote { padding: 10px 10px; margin-left: 110px; margin-left: 6.875rem; }
.announcement-container .announcement-quote p { font-size: 18px; font-size: 1.125rem; line-height: 1.5; color: #2d2d2d; }
.announcement-container .announcement-quote ul li { list-style-type: disc; margin-left: 40px; margin-left: 2.5rem; }
.announcement-container .announcement-quote ol li { list-style-type: decimal;  margin-left: 40px; margin-left: 2.5rem; }
.announcement-container .announcement-quote b { font-weight: 700; }
.announcement-container .announcement-quote i { font-style: italic; }
.recent-activity-container > div.right-aligned { padding-left: 5px; }
.recent-activity-container > div { padding-left: 0; padding-right: 0; margin-top: 20px; margin-top: 1.25rem; }
.recent-activity-container > div .panel { min-height: 200px; }

/*-->recent activity sections */
.recent-activity-container > div.activity-feed .panel-body { padding-left: 0; padding-right: 0; }
.recent-activity-container > div.activity-feed .activity-item { padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;  }
.recent-activity-container > div.activity-feed .activity-item:nth-child(odd) { background: #e2e2e2; }
.recent-activity-container > div.activity-feed .activity-item a { font-size: 18px; margin-top: 10px; margin-bottom: 10px; }
.recent-activity-container > div.activity-feed .activity-item span { font-size: 11px; }

.notification { background: #D9EDF7; padding:10px; }
.notification button { display: none; }
.notification-fix { vertical-align:top; margin: 6px 0 0 10px;display:inline-block; }
.notification .no-badge .badge-profile { display: none; }

/*-->hidden hubspot form for non members */
.row.request-teamwork-information-container.center { background: #fff; padding: 30px; margin-top: 40px; margin-top: 2.5rem; margin-bottom: 40px; margin-bottom: 2.5rem; }
.row.request-teamwork-information-container.center .request-access-information { text-align: left; line-height: 1.5; }
.row.request-teamwork-information-container.center .request-access-information h2 { font-size: 24px; font-size: 1.5rem; margin-bottom: 20px; margin-bottom: 1.25rem; }
.request-teamwork-information-container .hs-form > div.smart-field { display: block; width: 100%; }
.request-teamwork-information-container .hs-form > div.smart-field .input { width: 100%; padding: 0!important; }
.request-teamwork-information-container .hs_submit input 
{ display: block; height: 80px; min-width: 200px; font-size: 24px; font-size: 1.5rem; background: #F58220; border: none; text-shadow: none; font-weight: 100; margin-left: 25px; margin-left: 1.5625rem; }

/*-->Page specific global styles */
.center { text-align: center; }
.change-mypds-pass label {  margin-left: 10px; margin-top: 10px; } /*-->user profile change mypds password input label */
.updateBasicInfo input.btn-primary { margin: 10px 10px; }
.dash-icon { background: #ccc; padding: 10px; border-radius: 10px; text-align: center; min-height: 349px!important; }
.dash-icon img { height: 200px; display: inline-block; }
.signup-box:hover { background: #a7be69; }
.signup-box img { margin-bottom: -20px; }
.vip-box:hover { background: #f2b057; }
.sponsor-box:hover { background: #8169a5; }
.sponsor-box, .vip-box { margin-top: 0!important; padding-top: 30px; }
.dash-icon:hover .text-muted, .dash-icon:hover h4 { color: #fff;  }
.dash-icon h4 { color: #412985; }
@media(max-width: 1098px) {
  .dash-icon { width: 18rem; }
}
@media(max-width: 640px) {
  .dash-icon { width: 95%; }
}
/* padding helpers */
.mini-padding { padding-top: 10px; padding-bottom: 10px; }
.small-padding { padding-top: 20px; padding-bottom: 20px; }
.medium-padding { padding-top: 40px; padding-bottom: 40px; } 
.large-padding { padding-top: 80px; padding-bottom: 80px; }
.small-waist { padding-left: 20px; padding-right: 20px; }
.medium-waist { padding-left: 40px; padding-right: 40px; }
.large-waist { padding-left: 80px; padding-right: 80px; }

/* Text colors */
.green-text { color: green; }

/* Background Colors */
.light-gray-background { background: #ccc; }

/*//-->General Users Dash Styles */

.medium-thumbnail { max-width: 250px; }

/*
 * Placeholder dashboard ideas

==============================================*/
.placeholders { margin-bottom: 30px; text-align: center; }
.placeholders-vendor div { margin-left: 70px; }

@media (max-width: 490px) {
  .placeholders div.col-xs-10 { margin: 10%; }
}
@media (max-width: 768px){
  .placeholders div.dash-icon { margin: 10px 10px; }
  .placeholders div { margin: 0 auto; }
}
.placeholders h4 { margin-bottom: 0; }
.placeholder { margin-bottom: 20px; }
.placeholder img { display: inline-block; border-radius: 50%; }
.progress-move { margin-left: 0!important; width: 75%; }
.placeholder-no-progress { margin-top: 2.5em; }
.pass-reset-area { margin-top: 2%;  }
.pass-reset-area input { max-width: 300px; }
.pass-title { font-size: 1.5em; margin-top: 1%; }
.pass-change-btn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #00CC00;
    border: none;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    float: left;
    margin-left: 10px;
}
.pass-change-btn:hover {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    background-color: #00B200;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}
/* Gamify Styles
==============================================*/

.list-achievements, .list-permissions { padding: 20px; }

.list-achievements ul li, .list-permissions ul li { cursor:pointer; padding: 6px; display: inline-block; margin: 0 7px 7px 0; }

.badge-display img { max-width: 75px; }
.badge-display .btn.btn-primary, .access-group-display .btn.btn-primary { margin: 0 7px 5px 0; }


/* Resource Styles 
==============================================*/
.add-new-resource-container .input-group { width: 90%; }
#resource-header, #accordion, .trashed-resources { margin-left: 17%; }

.uploader { display: none; max-width: 20%;  padding: 10px 10px; border-radius: 10px; }
.uploader { display: none; max-width: 20%;  padding: 10px 10px; border-radius: 10px; }

.ui-progressbar { position: relative; margin-top: 20px; margin-bottom: 20px; max-width: 300px; min-height: 35px; }
.ui-widget-header { background: #5cb85c; }

.progress-label {
  position: absolute;
  left: 40%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  max-width: 400px;
}

.fileOrigName:hover { cursor: pointer; cursor: pointer; /* fallback for older browsers */ }

/*//-->Download button */
.downloadFiles {
  margin-bottom: -2em;
}

.file-version input {
  max-width: 20%!important;
}
/* //-->trashed resource list */
.soft-deleted-items .item span { cursor: pointer; }


.inp-field, .login-form-submit { margin: 10px 10px; width: 90%; }
.inp-field { height: 40px; border-radius: 5px; border: solid 1px #ccc; padding: 9px; }
.marketplace-admin-container { max-width: 100%; min-width: 100%; }
.marketplace-admin-container td { max-width: 200px; }
.dash-marketplace-listings .inp-field { height: auto!important; }

/*========================
 * HEADER STYLES
 * ========================
 */
.forum-nav, .forum-logo, .signup-cta { display: inline-block; }

/*-->header mini-profile */

#changeBasicInfo .modal-body .input-group, #changeBasicInfo .modal-body h3 { margin-left: 10px; width: 100%; }
#changeBasicInfo .modal-body iframe { margin-left: 0!important;}

 /*-->nav */
.pds-logo { text-align: center; }

.forum-nav ul li { display: inline-block; margin: 0px 18px; padding: 20px 0px;  }
li.nav-item.active-nav a:last-of-type { border-bottom: 3px solid #fff; }
.forum-nav ul li a { padding: 6px 0px; }
.forum-nav ul li:hover a { border-bottom: 3px solid white; }
.forum-nav ul li a { color: white; font-weight: 100; font-size: 18px; font-size: 1.125rem; }

/*-->header cta */
.signup-cta { margin: 10px 13px; }

/*-->logo */
img.vcenter.forum-mini-profile-img > div { width: 40px; height: 40px; border-radius: 100%;  }
.forum-logo img { margin-left: 15px; }

.soft-deleted-items .item p { font-size: 1.5em; }
.soft-deleted-items .item .date-removed { font-size: 1em; }

/* Group Styles 
==============================================*/
#group-list-container, #group-manager-container {  }
#group-list-header, #group-manager-header { /*nothing yet*/ }
.group-list td{ color: orange; }
li#groupTab.active a { color: #F58220; }
li#groupTab a { color: #412985; }

/* FORUM STYLES 
==============================================*/
.member-rad-btn { margin-left: 10px!important; }
.input-group .modal-label { margin-left: 10px; }
.forum-panel-group.panel-group { margin: 0!important; }

/*-->pop up modal styles */
#subtitle { min-height: 100px; }
.cat-subtitle { min-height: 100px; }
textarea.description { max-width: 100%; min-height: 100px; }


/* form builder helper style 
==============================================*/
.help-block { float: left; clear: left; }
.form-group.has-error .help-block { color: #ef7c61; }

.group-add-form-container { margin-left: 17%; }

.reset-form { margin-left: 18%; }

.reset-form-column { margin-left: 13%; }


/* Exhibitor helper pages
==============================================*/
table.data {}
table.data td  { font-size: 1.2em; padding: 10px; }
address { font-size: 1.2em; margin-bottom: 0; }
.panel-info { border-color: #F58220; }
.panel-info>.panel-heading { color: white; background-color: #412985; border-color: #F58220; }
#footer-tm { margin-top: 100px; margin-left: 17%; }
.footer { margin-top: 20px; }
.logout { margin-left: 15px;}
.site-footer > .footer { font-size: 12px; }

/* Projects page
=============================================*/
.activity-feed .panel-body { padding-top: 0; padding-left: 0; padding-right: 0; }
.activity-feed .panel-body > div { padding: 5px; }

.message-item > div { float: left; width: 40%; margin-bottom: 5px; }
.message-item .message-avatar { width: 20%; }
.message-item .message-avatar img { max-width: 50px; float: right; }

.next-week-tasks, .current-week-tasks { background: #a3a3a3; padding: 5px; color: #412985; font-size: 12px; text-align: center; }

/*-->coach and IS view */
.coach-and-IS-header hr { border-top: 1px solid #fff; }

/*-->company profile view */
.pharmacy-profile-container .pharmacy-profile-btn { 
    width: 100%; 
    margin-bottom: 20px; 
    margin-bottom: 1.25rem; 
    margin-right: 20px; 
    margin-right: 1.25rem; 
    font-size: 24px; 
    font-size: 1.5rem; 
    font-weight: 100!important; 
    -webkit-transition: all .4s ease !important; 
    -moz-transition: all .4s ease !important; 
    -o-transition: all .4s ease !important; 
}
.pharmacy-profile-container .pharmacy-profile-btn span { font-size: 12px; font-size: 0.75rem; }
.pharmacy-profile-container .pharmacy { background: #f5f5f5; padding: 10px; border: 1px solid #e3e3e3; }
.pharmacy-profile-container .pharmacy .pharmacy-website { word-break: break-all; }
#pharmacyProfile .pharmacy-profile .pharmacy-profile-header .pharmacy-since { font-size: 12px; font-size: 0.75rem; margin-left: 10px; margin-left: 0.625rem; font-style: italic; }
#pharmacyProfile .pharmacy-profile .pharmacy-profile-header .pharmacy-name { font-weight: bold; font-size: 20px; font-size: 1.25rem; }
#pharmacyProfile .pharmacy-profile .pharmacy-details .table-responsive { max-height: 400px; overflow: hidden; overflow-y: scroll; overflow-x: auto; }
#pharmacyProfile .pharmacy-profile .pharmacy-details .general-details-header h2 { margin-top: 15px; margin-top: 0.9375rem; }
#pharmacyProfile .pharmacy-profile .pharmacy-details .general-details-content > div.box-item { border-bottom: 1px solid black; }
#pharmacyProfile strong, #pharmacyProfile b { font-weight: bold; }
#pharmacyProfile .pharmacy-profile .pharmacy-details .general-details-content > div.box-item { padding: 3px 5px; }
#pharmacyProfile .pharmacy-profile .pharmacy-details .general-details-content > div.value-box { background-color:#ececec; }
#pharmacyProfile .pharmacy-profile .pharmacy-details .general-details-content > div.label-box { color:white; }
#pharmacyProfile .pharmacy-profile .pharmacy-details .general-details-content .employee-detail-header > div { background-color:#ececec;border-right: 1px solid black; }
#pharmacyProfile .pharmacy-profile .pharmacy-details .general-details-content .employee-detail-header > div:last-child { border-right: none; }

/*-->company profile table styles */
.sticky-wrap {
    overflow-x: auto;
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .125s ease-in-out;
    z-index: 50;
    width: auto; /* Prevent table from stretching to full size */
}



.sticky-wrap .sticky-thead {
    box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
    z-index: 100;
    width: 100%; /* Force stretch */
}
.sticky-wrap .sticky-intersect {
    opacity: 1;
    z-index: 150;
}
.sticky-wrap .sticky-intersect th {
    background-color: #666;
    color: #eee;
}
.sticky-wrap td,
.sticky-wrap th {
    box-sizing: border-box;
}


/*-->adding project view */
.row.new-project-form.col-lg-6, .row.new-milestone-form.col-lg-6 { margin: 0 auto; float: none; }
.row.new-milestone-form.col-lg-6 h2, .row.new-project-form.col-lg-6 h2 { font-size: 24px; font-size: 1.5rem; margin-bottom: 20px; margin-bottom: 1.25rem; }

/*-->adding milestone view */
.row.new-milestone-form.col-lg-6 form.create-new-milestone > div { margin-bottom: 10px; margin-bottom: 0.625rem; }

/*-->adding task view */
.new-task-form { margin: 0 auto; float: none; }
.new-task-form h2 { font-size: 24px; font-size: 1.54rem; margin-bottom: 20px; margin-bottom: 1.25rem; }
.row.create-new-task-form-container.col-lg-6 > div { margin-bottom: 10px; margin-bottom: 0.625rem; }

.something { border: none; }


@media only screen and (min-width: 1200px){
    .activity-date div { float: right; }   
}


/* FORUM MANAGER MEDIA QEURIES AND STYLES
=============================================*/
@media (max-width: 992px) {
    #resource-header, #accordion, .trashed-resources, .pass-reset-area, #footer-tm { margin-left: 25%; }
    .placeholders div { margin-left: 21px; }
    #group-manager-container { margin-left: 18em; }
    .forum-data-container { margin-left: 6em; }
    #group-list-header { margin-left: 6em; }
}
@media (max-width: 768px) {
    .forum-header .forum-nav.vcenter { display: none!important; }
    .forum-data-container { margin-left: 0!important; }
    .dash-icon { width: 95%; }
    #group-list-container, #group-manager-container { margin-left: 0!important;}
    #group-list-header, #group-manager-header { margin-left: 0!important; }
}
@media (max-width: 767px) {
    #resource-header, #accordion, .trashed-resources, .pass-reset-area, #footer-tm { margin-left: 0!important; }
    .recent-activity-container > div.right-aligned { padding-left: 0; }
}
@media (max-width: 460px) {
    /*-->dashboard main index dans quote */
    .announcement-container { background: white!important; }
    .announcement-container .announcement-title h2 { margin-left: 5px!important; }
    .announcement-container .announcement-quote, .announcement-container .announcement-update-quote { margin-left: 5px!important; }
}


