/* Eric Myer's HTML5 Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url('../images/application/application-background.jpg');
    background-repeat: no-repeat;
    background-position: top center!important;
    background-color: #ccc;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Some changes */
html,body {
    height: auto;
}
.clear {
    clear: both;
}

.content-wrap { /*background: rgba(65, 41, 133, 0.6); */ padding: 250px 80px; }

#conf-container {
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
    padding: 20px 20px;
    border-radius: 5px;
    margin-bottom: 10%;
    text-align: left;
}
#conf-container p { margin-bottom: 10px; font-size: 1.15em; line-height: 1.2em; }
label { padding: 17px; }
.center { text-align: center; } 
.g-recaptcha { display: inline-block; }
input[type="submit"], .start-confirmation { 
    margin: 15px 0; 
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #F6871F !important;
    color: #FFF;
    border: none;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important; 
}
h2 { font-size: 1.2em; padding:20px 0;}
#conf-container span a {
	color: green;
}

.reset-form-column {
	margin: 0 auto;
	margin-top: 150px;
	margin-top: 9rem;
	max-width: 600px;
	border-radius: 20px; 
}

.reset-form-column div h1 {
	font-size: 3em;
	color: white;
}

/* hidden hubspot account finder styles */
.hs-acc-finder {
	display: none;
    max-width:400px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 10%;
}

.hs-acc-finder p {
	color: orange;
	font-size: 24px;
}

.acc-info {
	margin-left: 90px;
	list-style: none;
	margin-top: 11%;
}

#thats-me {
	background-color: orange;
	color: white;
	padding: 10px 10px;
	border-radius: 3px;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

#thats-me:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}

#not-me {
	background-color: gray;
	color: white;
	padding: 10px 10px;
	border-radius: 3px;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

#not-me:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}

.orange-text { color: #F58220!important; }

