/* ========================
 * EVENTS CSS STYLESHEET
 * Author: Derek J. Foster
 * ========================
 */
/* BOOSTRAP FIXES */
body { background: #EFEFEF; word-wrap: break-word; }
hr { margin-top: 10px; margin-bottom: 10px; }
.container-fluid { padding-left: 0; padding-right: 0; }

/* GLOBAL EVENT SIDEBAR */
.event_type_list .event-item { padding: 5px; margin: 10px; }
.event_type_list .event-link { color: #666; }

/* MAIN CONTAINER */
.events-list-container { margin-top: 15px; margin-top: 0.9375rem; }

/* INDEX PAGE - EVENTS LISTING */
/*-->cta container */
.events-cta-container {
    display: inline-block!important;
    color: white;
}

/*-->timeline */

h2.event-month { font-size: 1.5em; padding: 10px 0; font-weight: 500; }
.timeline { list-style: none; padding: 20px 0 20px; position: relative; }

.timeline:before { top: 0; bottom: 0; position: absolute; content: " "; width: 3px; background-color: #acacac; left: 75px; margin-left: -1.5px; }

.timeline > li { margin-bottom: 20px; position: relative; }

.timeline > li:before,
.timeline > li:after { content: " "; display: table; }

.timeline > li:after { clear: both; }

.timeline > li:before,
.timeline > li:after { content: " "; display: table; }

.timeline > li:after { clear: both; }

.timeline > li > .timeline-panel {
    width: 75%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    background: white;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel > div { margin-left: 25px; max-width: 90%; }

/*-->keep featured tag from having whitespace on its left side in panel -- reason: (see .timeline > li > .timeline-panel > div) */
.timeline > li > .timeline-panel > div.featured-event { margin-left: 0; }

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #acacac;
    width: 30px;
    height: 30px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 85px;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li > .timeline-badge > .timeline-badge-inner { 
	width: 20px; 
	height: 20px; 
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 5px;
	left: 30px;
	margin-left: -25px;
	background-color: #999999;
	z-index: 100;
	border: 2px solid white;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%; 
}

.timeline > li.timeline-inverted > .timeline-panel { margin-left: 236px; margin-left: 14.25rem; }

.timeline > li.timeline-inverted > .timeline-panel:before { border-left-width: 0; border-right-width: 15px; left: -15px; right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after { border-left-width: 0; border-right-width: 14px; left: -14px; right: auto; }

/*-->rotate featured and member colored bars */
.rotate {
  position: absolute;
  top: 0;
  right: 100%;
  width: 80px;
  min-width: 5%;
  white-space: nowrap;
  font-size: 15px;
  font-size: 0.9375rem;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
    transform-origin: right top;
    
}
.horizSpace { padding: 5px 5px; }
.rotate { filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=1)\9 } /* IE8 and below */
.rotate { filter /*\**/: progid:DXImageTransform.Microsoft.BasicImage(rotation=1)\9 } /* IE8 standards mode */
:root .rotate { filter: none; }  /* remove hack in IE9+ */

/*-->featured and member bars */
.member-event { position: absolute; z-index: 9; top: 0; text-align: center; color: white; font-size: 12px; }
.featured-event { position: absolute; z-index: 9; top: 0; text-align: center; color: white; font-size: 12px; }

/*-->timeline int day, str day, and str month */
.timeline-day { position: absolute; text-align: center; fonst-weight: 500; }
.timeline-day p:first-child { font-size: 20px; font-size: 1.25rem; }
.timeline-day p:nth-child(2) { font-size: 32px; }
.timeline-day p:last-child { color: #acacac; font-size: 16px; font-size: 1rem; }

.timeline-badge-inner.primary { background-color: #412985 !important; }
.timeline-badge.primary { background-color: #412985 !important; }
.timeline-badge.members { background-color: #F58220 !important; }
.timeline-badge.featured { background-color: #A6CE39 !important; }

.timeline-badge i { padding: 12px 10px; }


.timeline-time-range { position: absolute; max-width: 120px; left: 123px; font-size: 12px; font-size: 0.75rem; top: 20px; }

.timeline-title { margin: 0 0 8px 0; color: inherit; font-size: 24px; font-size: 1.5rem; }
.timeline-title a:visited { color: #F58220; }

.timeline-body > p,
.timeline-body > ul { margin-bottom: 0; font-size: 16px; font-size: 1rem; }

.timeline-body > p + p { margin-top: 5px; }

.timeline-body > .timeline-location { margin-top: 10px; }

.timeline-description, .timeline-description p, .timeline-description div { font-size: 15px; font-size: 0.9275rem; line-height: 1.5; }

.timeline-panel .timeline-body .timeline-description > div { font-size: inherit; line-height: inherit; }

.timeline-location span { font-weight: 700; }

.timeline-see-more { position: absolute; right: 0; background: #acacac; color: white; font-weight: 100; height: 100%; top: 0; padding: 10px 10px; }
.timeline-see-more i { top: 50%; margin-top: -8px; }
a.timeline-see-more:hover { color: white; background: #412985; }

/* ADDING NEW EVENTS PAGE */

/*-->page title */
.container h1 { font-size: 28px; font-size: 1.75rem; margin-bottom: 10px; }
 
/*-->events container*/
.add-events-container {  }

/*-->wysiwig rows */
.add-events-container form > div { padding-left: 10!important; }

/*-->input groups */
.add-events-container .input-group { padding-top: 10px; padding-bottom: 10px; }
.input-group.pricing { float: left; }

/*-->errors */
.add-events-container p { font-size: 15px; font-size: 0.9375rem; }

/*-->extra details (expiration & hs form id fields) */
.event-textarea .col-lg-6 { padding-left: 0!important; }

/*-->wysiwig editor */
.input-group > div { padding-top: 10px; padding-bottom: 10px; }

/*-->member pricing */
.add-events-container .price-info p { font-size: 15px; font-size: 0.9375rem; line-height: 1.5; }
.core-pricing, .advanced-pricing, .elite-pricing { width: 200px!important; float: left!important; }

/*-->start and end datetime pickers */
.date_range_picker div { margin-right: 5px; }

/*-->regional location entry */
.regional-details { display: none; }
.regional-details .input-group { width: 40%; }

/* EVENT SINGLE DETAIL VIEW */
.single-event-container > div { font-weight: 300; }
.single-event-container > div > h2 { font-size: 26px; font-size: 1.625rem; margin-top: 30px; margin-top: 1.875rem; margin-bottom: 5px; margin-bottom: 0.3125rem; } /*-->sub titles */
.single-event-container .event-details { font-weight: 400; font-style: italic; font-size: 17px; font-size: 1.0625rem; color: #F58220; }
.single-event-container { line-height: 26px; line-height: 1.625rem; }
.single-event-container ol { list-style-type: decimal; margin-left: 42px; margin-left: 2.625rem; }
.single-event-container ol li { margin-top: 5px; margin-bottom: 5px; margin-top: 0.3125rem; margin-bottom: 0.3125rem; }
.single-event-container i { font-style: italic; }
.single-event-container b { font-weight: bold; }

/*-->event information sections */
.single-event-container { font-size: 16px; font-size: 1rem; font-weight: 400; }
.single-event-container p { font-size: inherit!important; }
.single-event-container .description ul li,
.single-event-container .attendance-suggestions ul li,
.single-event-container .how-it-works ul li { list-style-type: disc; margin-left: 5%; font-size: inherit; margin-top: 5px; margin-bottom: 5px; margin-top: 0.3125rem; margin-bottom: 0.3125rem; }

/*-->sidebar title */
.single-event-sidebar h2 { font-size: 25px; font-size: 1.5625rem; margin-top: 15px; margin-top: 0.9375rem; }
.single-event-sidebar p { font-size: inherit; }
.single-event-sidebar i { font-style: italic; }
.single-event-sidebar b { font-weight: bold; }
/*-->sidebar prices */
.mem_price .alert { margin-top: 20px; }

/*-->sidebar hs form submit btn */
.single-event-sidebar .hs_submit .actions input { margin-left: 10px; margin-left: 0.625rem; background: #F58220; border: none; text-shadow: none; font-weight: 100; font-size: 16px; font-size: 1rem; padding: 10px 10px; }
.single-event-sidebar .hs_submit .actions input:hover { border: none; }
.single-event-sidebar .hs-form .hs-button:active:not(.inactive):not(.link), .hs-form .hs-button.depressed:not(.inactive):not(.link), .dropdown-open>.hs-form .hs-button:not(.inactive):not(.link) {
  background-color: #412985; background-image: none; border: none; 
}

/*-->sidebar similar events mini items */
.mini-event-item { margin: 15px 0px; }
.mini-event-item p { font-size: 15px; font-size: 0.9375rem; }

/*-->price list */
.price-description li.mem_price { font-size: 18px; font-size: 1.125rem; margin: 10px 0px; }
.date_range_picker input { cursor: pointer; }

#price-details .per { margin-left: 20px; }
.description img { max-width: 200px; padding: 0 0 10px 10px; }
.pricing-section { background: #fff; border-radius: 4px; padding: 15px; border: 1px solid #efefef; text-align: center; }
.pricing-section p { margin-bottom: 8px; }
.pricing-section .price { font-size: 2.3em; margin-bottom: 0; }
.pricing-section .price-cta { width: 100%; background: #F58220; padding: 20px 0; margin: 15px 0;  display: block;text-decoration: none; color: #fff!important;  }
.pricing-section .description { text-align: left; }
.timeline-description img { max-width: 100px; border-radius: 10px; }
.timeline-description li { list-style-type: disc; margin-left: 30px; }

/* EVENT CALENDAR VIEW */
.cal2 .clndr { display: table; width: 100%; font-weight: 100; box-sizing: border-box; }
.cal2 .clndr > div:eq(1), .cal2 .clndr > div:eq(2) { width: 100%; }
.cal2 .clndr > div:last-child { margin-top: 20px; margin-bottom: 20px;  }
.cal2 .clndr .clndr-controls { position:relative; padding: 10px 10px; background: rgba(65,41,133, 0.8); margin-top: 20px; margin-top: 1.25rem; margin-bottom: 20px; margin-bottom: 1.25rem; } 
.cal2 .clndr .clndr-controls > div { color: white; font-size: 16px; font-size: 1rem; }
.cal2 .clndr .clndr-controls > div.clndr-previous-button { position: absolute; top: 10px; }
.cal2 .clndr .clndr-controls > div.month { text-align: center; }
.cal2 .clndr .clndr-controls > div.clndr-next-button { position: absolute; right: 10px; top: 10px; }
.cal2 .clndr .days-of-the-week .week-days { display: table-row; }
.cal2 .clndr .days-of-the-week .week-days div.header-day { display: table-cell; font-size: 18px; font-size: 1.125rem; padding: 10px 58px; background: #F58220; color: white; }
.cal2 .clndr .days { margin-top: 20px; display: table-row-group; }
.cal2 .clndr .days .week { display: table-row; }
.cal2 .clndr .days .week > div { display: table-cell; font-size: 14px; font-size: .875rem;  color: purple; text-align: left; border-width: 1px 0 0 1px; border-color: #a3a3a3; border-style: solid; }
.cal2 .clndr .days .week > div.day { padding: 5px; box-sizing: border-box; font-weight: 600;}
.cal2 .clndr .days .week:first-of-type div{ border-top: none!important; } 
.cal2 .clndr .days .week > div:last-of-type { border-right: 1px solid #a3a3a3!important; }
.cal2 .clndr .days .week:last-of-type > div { border-bottom: 1px solid #a3a3a3!important; }
.cal2 .clndr .days .week > div.day.adjacent-month { background: #CCCCCC; }
.cal2 .clndr .days .week > div.day.event { background: #412985; color: white; border: 1px solid #412985; font-weight: 400; font-size: .8em;}
.cal2 .clndr .days .week > div.day.event:hover { cursor: pointer; background: rgba(65,41,133, 0.8); }
.cal2 .clndr .days .week > div.day.today { color: white; background: #F58220; border: 1px solid #F58220; }
.clndr-previous-button, .clndr-next-button { cursor: pointer; }
.calFiller { height: 30px; }

/*-->modal view for list of events on a day chosen */
.cal2 .clndr .events { padding: 10px 10px; background: rgba(245, 130, 32, 0.8); color: white; margin-top: 10px; margin-bottom: 10px; }
.cal2 .clndr .events .title a { color: #412985; font-size: 20px; font-size: 1.25rem; }
.events-list-calendar-container { padding-left: 10px; padding-right: 10px; }
.events-list-calendar-container .cal2 .clndr .timeline > li.timeline-inverted > .timeline-panel { margin-left: 100px; margin-left: 6.25rem; width: 80%; }
.events-list-calendar-container .cal2 .clndr .timeline > .timeline-badge.default { height: 30px; width: 30px; border-radius: 50%; position: relative; background: #a3a3a3; }
.events-list-calendar-container .cal2 .clndr .timeline > .timeline-badge { left: 11.5% !important; }
.events-list-calendar-container .cal2 .clndr .timeline > .timeline-badge > .timeline-badge-inner.primary { position: absolute; background-color: #412985 !important; padding: 10px; border-radius: 50%; top: 5px; left: 5px; }
.events-list-calendar-container .cal2 .clndr .timeline > .timeline-badge.primary { background-color: #412985 !important; }
.events-list-calendar-container .cal2 .clndr .timeline > .timeline-badge.members { background-color: #F58220 !important; }
.events-list-calendar-container .cal2 .clndr .timeline > .timeline-badge.featured { background-color: #A6CE39 !important; }
.events-list-calendar-container .cal2 .clndr .timeline > .timeline-badge i { padding: 12px 10px; }
.events-list-calendar-container .timeline:before { display: none; }

.timeline-badge i { padding: 12px 10px; }

.events-list-calendar-container .event-title, .events-list-calendar-container .calendar-view-btn, .events-list-calendar-container .new-event-btn { margin-top: 5px; }





/* MEDIA QUERIES FOR EVENTS INDEX */
@media (max-width: 370px){
    ul.timeline > li > .timeline-panel .featured-event { display: none; }
}

@media (max-width: 600px) {
    ul.timeline > li > .timeline-panel .timeline-descriptiontimeline-description { display: none; }
    /*-->event view */
    .description img { display: none; }
}

@media (max-width: 960px ) {
    .main-event-type-select { display: none; }
    .events-list-container { width: 100%; }
}

@media (max-width: 767px) {
    .single-event-container, .single-event-sidebar { width: 100%; float: none; }
    
    .event-title { display: block!important; }
    
    .calendar-view-btn { margin: 0; }
    
    .calendar-view-btn a { margin: 0; }
    
    .tools { float: none; clear: both; }
    
    .events-cta-container { height: auto; }
    
    .timeline-see-more { right: -10px; }
    
    ul.timeline:before { left: 40px; }

    ul.timeline > li > .timeline-panel { width: calc(100% - 90px); width: -moz-calc(100% - 90px); width: -webkit-calc(100% - 90px); }

    ul.timeline > li > .timeline-badge { left: 15px; margin-left: 0; top: 16px; }

    ul.timeline > li > .timeline-panel { float: right; }

    ul.timeline > li > .timeline-panel:before { border-left-width: 0; border-right-width: 15px; left: -15px; right: auto; }

    ul.timeline > li > .timeline-panel:after { border-left-width: 0; border-right-width: 14px; left: -14px; right: auto; }
  
    ul.timeline > li > .timeline-badge.default { display: none!important; }
    
    ul.timeline > li > .timeline-panel { width: 100%!important; }
    
    .events-list-container { width: 100%; }
    
    .timeline-description img { display: none; }
    
    .timeline:before { display: none; }
    
    ul.timeline > li > .timeline-panel .timeline-mobile-date { display: block; }
}

@media (min-width: 767px) {
    ul.timeline > li > .timeline-panel .timeline-mobile-date { display: none; }
}

@media (max-width: 550px) {
    .calendar-view-btn, .new-event-btn , .calendar-view-btn a, .new-event-btn a { width: 100%; }
    .calendar-view-btn, .new-event-btn { margin-bottom: 10px; margin-bottom: 0.625rem; }
    .timeline-description { display: none; }
}