/* ========================
 * FORUM CSS STYLESHEET
 * Author: Derek J. Foster
 * ========================
 */
a { z-index: 99; }

.green-text { color: #A6CE39; }
.featured-star { color: #F58220; font-size: 27px; left: 20px; top: 25px; position: absolute; }

body, .forum-bg { background: #efefef; }

/* BOOTSTRAP CHANGES */
.btn { -moz-transition: all .4s ease !important; -o-transition: all .4s ease !important; }
.btn-primary { background-color: #F58220!important; border-color: #F58220!important; -moz-transition: all .4s ease !important; -o-transition: all .4s ease !important; }
.btn-primary:hover { background: white!important; color: black; -webkit-transition: all .4s ease !important; -moz-transition: all .4s ease !important; -o-transition: all .4s ease !important; }
.check-trash {  padding-left: 0; padding-right: 0; }
.pagination>li>a, .pagination>li>span, .pagination>li>a.active, .pagination>li.disabled>span { padding: 6px 25px; }
/* BOOTSTRAP FILE INPUT STYLES */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/* ========================
 * HEADER STYLES
 * ========================
 */
.forum-nav, .forum-logo, .signup-cta { display: inline-block; }

/*-->header mini-profile */
.mini-acc p { font-size: 14px; font-size: 0.875rem; margin: 5px 5px; display: inline-block; color: white; }
.mini-profile { display: inline-block; margin: 5px 5px; font-size: 14px; font-size: 0.875rem; font-weight: 100; }
.mini-profile a { color: white; }

 /*-->nav */
.message-boards-pages .slicknav_menu { display: none; margin-bottom: -5px; }
.message-boards-pages .slicknav_nav li { padding: 3px!important; }
.message-boards-pages .slicknav_nav a:hover { background: white; color: #000; }
@media screen and (max-width: 768px) {
    .message-boards-pages  .slicknav_menu { display:block!important; }
    .forum-logo img { display: none; }
}

.pds-logo { text-align: center; }
.pds-logo img {  }

.forum-nav ul li { display: inline-block; margin: 0px 13px; padding: 20px 0px; position: relative }
li.nav-item.active-nav a:last-of-type { border-bottom: 3px solid #fff; }
.forum-nav ul li a { padding: 6px 0px; }
.forum-nav ul li:hover a { border-bottom: 3px solid white; }
.forum-nav ul li a { color: white; font-weight: 100; font-size: 18px; font-size: 16px; font-size: 1rem; }
li.nav-item.open > ul li { padding-left: 10px!important; padding-right: 10px!important; }
/*-->header cta */
.signup-cta { margin: 19px 13px 13px 13px; }

/*-->logo */
.vcenter.forum-mini-profile-img { position: relative; float: right;}
.vcenter.forum-mini-profile-img > div { width: 40px; height: 40px;  border-radius: 100%; }
.forum-logo img { margin-left: 15px; max-width: 90%; }

/* FORUMS */
.forum-page-center { float: none; width: 59%; margin: 0 auto; background: white; padding: 20px 20px; }
.forum-page-center .pagination-wrap ul { text-align: center; }
.forum-container { margin-top: 30px; margin-bottom: 30px; }

@media (max-width: 720px) {
    .forum-page-center { width: 95%; }
}

/*-->topic category sidebar menu */
.forum-category-list .cat-item { position: relative; }
.forum-category-list .cat-item a.remove-cat-btn { display: none; position: absolute; top: 3px; left: -15px; }
.forum-category-list .cat-item:hover a.remove-cat-btn { display: inline; cursor: pointer; }

/*-->filters */
    
#category-filter-select::before,
#category-filter-select::after {
    content: "";
    position: absolute;
    pointer-events: none;
}
#category-filter-select { margin: 5px 0px; }

/*-->pagination */
.pagination-wrap { text-align: center; }
.pagination { margin: 0 auto; }
.pagination li.active span { color: #F58220; background: #412985; border: 1px solid #412985; }
.pagination li.active span:hover { background: #F58220; color: #412985; border: 1px solid #F58220; }
.pagination li a {  color: #412985; }
.pagination li a:hover { color: #F58220; }

/*-->categories */
.category_title a { font-size: 1.5em; }
.category-icon { width: 25px; height: 25px; margin-top: -4px; }
.category-icon img { width: 100%; }
.category_title a:hover { text-decoration: none; color: #F58220; }
.subtopic_title a:hover { text-decoration: none; }
.reset-btn { margin: 30px 30px; }
.panel-default>.panel-heading { background-color: #412985; }

/*-->post body */
.forum-topics .alert-info { line-height: 1.5; }
.forum-topics .alert-info b { font-weight: bold; line-height: 1.3; }
.forum-topics .alert-info ul { list-style-type: disc; }
.forum-topics .alert-info ul li { margin-left: 40px; }

/*-->new categories */
.cat-item { margin: 10px; padding: 5px; }
.cat-item a { color: #666; }
.cat-item a.orange-text { font-weight: bold; }
.new-thread-btn { float: right; -webkit-transition: all .4s ease !important; -moz-transition: all .4s ease !important; -o-transition: all .4s ease !important; margin-left: 10px; }
.mobile-new-thread-btn { display: none; }
.subscribe-button { cursor: pointer; }
.filtered-by p > span { font-size: 18px; font-size: 1.125rem; color: #F58220; }
.filtered-by p > span > a { }
/*-->post items */
.topic-item { position: relative; background: #fff; padding: 10px 0px; margin: 20px 0px; min-height: 82px; border: 1px solid black; }
.topic-item > div { margin-top: 6px; }
.orange-topic, .orange-post { background: #f58220;
    background: -moz-linear-gradient(left,  #f58220 2%, #ffffff 2%);
    background: -webkit-gradient(linear, left top, right top, color-stop(2%,#f58220), color-stop(2%,#ffffff));
    background: -webkit-linear-gradient(left,  #f58220 2%,#ffffff 2%);
    background: -o-linear-gradient(left,  #f58220 2%,#ffffff 2%);
    background: -ms-linear-gradient(left,  #f58220 2%,#ffffff 2%);
    background: linear-gradient(to right,  #f58220 2%,#ffffff 2%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58220', endColorstr='#ffffff',GradientType=1 );
}
.purple-topic, .purple-post { background: #412985;
    background: -moz-linear-gradient(left,  #412985 2%, #ffffff 5%);
    background: -webkit-gradient(linear, left top, right top, color-stop(2%,#412985), color-stop(2%,#ffffff));
    background: -webkit-linear-gradient(left,  #412985 2%,#ffffff 2%);
    background: -o-linear-gradient(left,  #412985 2%,#ffffff 2%);
    background: -ms-linear-gradient(left,  #412985 2%,#ffffff 2%);
    background: linear-gradient(to right,  #412985 2%,#ffffff 2%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#412985', endColorstr='#ffffff',GradientType=1 );
}

.featured-bar { color: white; font-weight: lighter; }
.rotate {
  position: absolute;
  top: 0;
  right: 100%;
  width: 80px;
  white-space: nowrap;
  font-size: 15px;
  font-size: 0.9375rem;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}
.horizSpace { padding: 5px 5px; }
.rotate { filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=1)\9 } /* IE8 and below */
.rotate { filter /*\**/: progid:DXImageTransform.Microsoft.BasicImage(rotation=1)\9 } /* IE8 standards mode */
:root .rotate { filter: none; }  /* remove hack in IE9+ */
.topic-list-information p { color: #666; line-height: 1.3; }
.topic-list-information p.text-muted b { font-weight: bold; }
.author-img { max-width: 80px; margin-left: 37px; margin-left: 2.3125rem; }
.topic-info > .topic-title { font-size: 18px; font-size: 1.125rem; line-height: 1.3; }
.topic-info > .topic-title a:visited { color: #F58220; }
p.author-info { font-size: 14px; font-size: 0.875rem; }
.topic-comment-count { border-radius: 125px; background: rgba(65,41,133, 0.5); width: 32px; height: 32px; text-align: center; vertical-align: middle; padding: 6px; margin-right: 10px; font-weight: 100; color: white; }
.topic-comment-count:hover { background: #F58220; }
.topic-comment-count a { color: white; display: inline-block; margin-top: 3px; }
.vcenter { display: inline-block; vertical-align: middle; float: none; }


/* FORUM POSTS */
.author-img img { width: 100%; }
.recent-posts h1 { font-size: 1.8em; }
.recent-post-item { padding-left: 10px; padding-right: 10px; }
.recent-post-item-link:hover { text-decoration: none; }
.recent-post-item-link:hover .recent-post-item .recent-post-title p { color: #F58220!important; }
.recent-post-item-link:nth-child(even) div { background-color: #efefef; }
.topic-data td { width: 10%;  }
.topic-title a:hover { opacity: 0.8; }
#createTopic .description { min-height: 150px; }
.active-category { border-left: 2px solid #412985; }
ul.mini-pagination { float: right; color: #666;  }
ul.mini-pagination li { display: inline-block; }
ul.mini-pagination li a { color:#F5821F; }

/*-->post view*/
.filtered-by a { color: #F58220; }
.topic-item-view { position: relative; padding: 10px 0px; margin: 0px 20px; min-height: 82px; }
.forum-post-view { padding: 0px 10px; border: 1px solid black; margin: 20px 0px; background: #fff; }
body .file-attachments { padding: 5px 18px; font-size: 12px; font-size: 0.75rem; }
.topic-description > div { padding-left: 20px; }
.topic-description { font-size: 18px; font-size: 1.125rem; padding: 5px 18px; line-height: 1.5; }
.topic-description ol, .topic-description ul { list-style-type: initial; margin-left: 75px; margin-left: 4.685rem; }
.topic-description ol { list-style-type: decimal; }
.topic-description li { padding: 4px 0px; }
.topic-description b, .topic-description strong { font-weight: 700; }
.topic-description em, .topic-description i { font-style: italic; }
.topic-post-time { font-size: 12px; margin-bottom: 12px; font-style: italic; }
.update-btn, .destroy-btn { margin: 20px; }

.filtered-by { padding: 0; }
.create-thread { padding: 10px 0; }

/*-->post view replies */
.reply-info .topic-title { font-size: 23px; font-size: 1.4375rem; line-height: 1.7; }
.reply-item-view { position: relative; padding: 10px 0px; margin: 0px 20px; min-height: 82px; }
.forum-reply-view { background: white; padding: 0px 10px; border: 1px solid black; margin: 20px 0px; }
.forum-post-replies h2 { font-size: 28px; font-size: 1.75rem; }
.forum-reply-view h2 { float: left; }
.reply-author-details { font-size: 14px; font-size: 0.875rem; padding: 10px 10px; margin-left: 122px; }
.topic-date { font-size: 14px; font-size: 0.875rem; font-style: italic; }
.author-acc-badge { width: 120px; padding: 5px 10px; position: absolute; top: -24px; left: -33px; color: white; font-weight: 100;  }
.author-acc-badge:after { 
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 28px solid #F58220;
  border-bottom: 14px solid transparent;
  border-left: 0px solid transparent;
  border-right: 28px solid transparent;
  position: absolute;
  top: 0;
  right: -28px;
}

.admin-author-acc-badge { width: 120px; padding: 5px 10px; position: absolute; top: -24px; left: -33px; color: white; font-weight: 100;  }
.admin-author-acc-badge:after { 
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 28px solid #412985;
  border-bottom: 14px solid transparent;
  border-left: 0px solid transparent;
  border-right: 28px solid transparent;
  position: absolute;
  top: 0;
  right: -28px;
}

/*featured post*/
.featured-topic-badge { 
  width: 83px;
  padding: 5px 10px;
  position: absolute;
  top: 5px;
  left: -32px;
  color: white;
  font-weight: 100;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-45deg);
}
.featured-topic-badge:after { 
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-bottom: 28px solid #A6CE39;
  border-top: 14px solid transparent;
  border-left: 0px solid transparent;
  border-right: 28px solid transparent;
  position: absolute;
  top: -14px;
  right: -28px;
}
.featured-topic-badge:before { 
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-bottom: 28px solid #A6CE39;
  border-top: 14px solid transparent;
  border-right: 0px solid transparent;
  border-left: 28px solid transparent;
  position: absolute;
  top: -14px;
  right: 83px;
}
.reply-to-post h1 { font-size: 20px; font-size: 1.25rem; }

/*-->post view create reply */
iframe.wysihtml5-sandbox { height: 200px!important; }

/*-->recent posts */
.recent-post-title { font-weight: 400; }
.recent-post-author { font-weight: 200; font-size: 1em; }
.recent-topics-btn { margin: 10px 10px; padding: 9px 10px; }
.filter-submit-btn { margin: 10px 10px; }

/*-->message board modal pop ups */
/*#createForumCategory .access_level_group { display: none; }*/

/* DASHBOARD */

#sign-up-container {
    height: 500px;
    width: 800px;
    background-color: rgba(255,255,255,0.3);
    padding: 20px 20px;
    border-radius: 5px;
    margin-left: 7%;
    margin-top: 10%;
}
#sign-up-sidebar {
    height: 500px;
    width: 300px;
    background-color: rgba(255,255,255,0.3);
    padding: 10px 10px;
    border-radius: 5px;
    margin-right: 13%;
    margin-top: 10%;
}
#sign-up-row { width: 80%; margin: 0 auto; }

/* ========================
 * APP LIBRARY
 * ========================
 */
.resource-wrap h1 { font-size: 30px; font-size: 1.875rem; }
.resource-wrap .modal-dialog { width: 750px; }
.resource-wrap .modal-dialog .modal-header .modal-title { font-size: 24px; font-size: 1.5rem; margin-right: 26px; margin-right: 1.625rem; }

/*-->mobile resource dropdown */
.resource-dropdown { background: #fff!important; }
.mobile-categories { margin-top: 20px; margin-bottom: 20px; }

/*-->resource panels */
.available-resources .panel-heading { color: white; font-weight: 100; }
.panel-footer h3 { font-size: 20px; font-weight: 100; color: #412985; margin: 10px 10px; margin: 0.625rem 0.625rem; }
#upload-container label {  display: none; }
#upload-container input { margin: 10px 10px; }

/*-->featured resources */
.featured-resource { background: white; padding: 10px 0px; width: 100%; display: block; margin: 10px 0px; border: 1px solid #a3a3a3; }
.featured-resource div { display: inline-block; margin: 0px 10px; margin: 0rem 0.625rem; }
.featured-resource .resource-thumbnail .thumbnail { min-width: 60px; text-align: center; }
.featured-resource .resource-title { max-width: 500px; }
.featured-resource .resource-title h2 { font-size: 18px; font-size: 1.125rem; }
.featured-resource .resource-title p { font-size: 12px; font-size: 0.75rem; color: #a3a3a3; }
.featured-resource .resource-title h2 > span.muted-text { color: #a3a3a3; font-size: 12px; font-size: 0.75rem; }
.featured-resource .resource-downloads span { color: #acacac; font-size: 12px; font-size: 0.75rem; }
.featured-resource .resource-downloads a:hover { cursor: pointer; }
.featured-resource .resource-downloads p { font-size: 17px; font-size: 1.0625rem; }
.featured-resource .resource-single-download a span { color: #412985; }
.thumbnail-img > img { max-width: 40px; }
.resource-title a:hover { cursor: pointer; }

/*-->modal for adding a new resource */
.modal-body .input-group { width: 100%; margin: 10px 0px; }
.modal-footer .input-group { width: 82%; }
.modal-footer label { margin: 7px 10px; }
.bootstrap-datetimepicker-widget { background-color: white!important; }
.form-group label > span { color: #acacac; font-size: 11px; font-size: 0.6875rem; }

/*-->resource non-mem alert */
.non-mem-alert h3 { color: #F58220; }
.non-mem-alert { line-height: 1.5; background: white; padding: 10px; }

/*-->resource previews */
/*-- header action options --*/
.resources .details-modal .modal-header { border: none; min-height: 115px; }
.resources .modal-title.vcenter { float: left; }

.resource-actions a { margin: 0px 13px; }

.resource-actions .actions { float:right; margin: 8px 8px; }

/*-- preview body --*/
.resource-icon { margin: 10px 20px; }
.resource-icon img { width: 80px; }
.resource-details.vcenter { max-width: 575px; }
.resource-details h2 > strong { font-weight: 500; }
.resource-details p { color: #acacac; font-size: 13px; font-size: 0.8125rem; float: left; margin-top: 10px; margin-bottom: 10px; }
.resource-details .f-size { margin-left: 20px; margin-right: 20px;  }
.resource-details .r-description { line-height: 1.5; }
.resource-details .r-description i { font-style: italic; }
.resource-details .r-description strong, .resource-details .r-description b { font-weight: bold; }
.resource-details .r-description ul { list-style-type: disc; margin-left: 35px; margin-left: 2.1875rem; }
.resource-details .r-description ol { list-style-type: octal; margin-left: 45px; margin-left: 2.8125rem; }

/*-- preview footer --*/
.details-modal .modal-footer { -moz-box-shadow: inset 0 0 10px #a3a3a3; -webkit-box-shadow: inset 0 0 10px #a3a3a3; box-shadow: inset 0 0 10px #a3a3a3; }
.extra-details p { font-size: 16px; font-size: 1rem; text-align: left; margin: 20px 0px; font-weight: initial; }

/* ========================
 * EDIT RESOURCE
 * ========================
 */
/*-->page editing title */
.resource-wrap h2 { font-size: 25px; font-size: 1.5625rem; margin-top: 6px; }

/*-->edit-section */
.edit-section .input-group { width: 100%; margin: 10px 0px; }
.edit-section .thumbnail > img#custom-icon { max-width: 100px; }
.edit-section .thumbnail > img#user-img { max-width: 200px; }
.edit-section .thumbnail > .caption p { margin: 0 auto; width: 37%; }

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.cancel-new-file { margin-left: 10px; }

/*-->swap file only */
.swap-files .thumbnail > img#custom-icon { max-width: 150px; }
.swap-files .thumbnail > img#user-img { max-width: 300px; }
.swap-files .thumbnail > .caption p { margin: 0 auto; width: 24%; }

/* ========================
 * RESOURCE SOCIAL SHARING VIEW
 * ========================
 */
.share-resource-view hr { border-top: 1px solid #a3a3a3; }
.share-resource-view .resource-info > div { float: left; }
.resource-share .input-group { width: 75%; }

/* ========================
 * RESOURCE TRASHBIN
 * ========================
 */
.trashcan-info { font-size: 12px; font-size: 0.75rem; }

/* ========================
 * myPDS
 * ========================
 */
/*-->pharmacy list */
.registered-pharmacies > h2 { margin-top: 10%; }
.unregistered-pharmacies > h2 { margin-top: 10%; }
.unregistered-pharmacies { min-height: 400px; }

/* ========================
 * MEDIA QUERIES 
 * ========================
 */
@media (max-width: 1200px){
    /*-->footer */
    .social-icon { float: left; }
    .forum-page-center { width: 95%;}
    
}

@media (max-width: 1114px) {
}

@media (max-width: 1089px) {
    .header { height: 50px; }
}

@media (max-width: 1026px) {
    .header { height: 90px!important; }
}

@media (min-width: 993px) {
    /*-->message board cta */
    .hs_forum_cta { display: block; }
    .hs_forum_cta_mobile { display: none; }
    .mobile-categories { display: none; }
}

@media (max-width: 992px) {
    .topic-info-container:first-child {  }
    .forum-category-list-mobile { float: right; }
    .mobile-categories { margin-top: 10px; margin-bottom: 10px; }
    /*-->message board cta */
    .hs_forum_cta { display: none; }
    .hs_forum_cta_mobile { display: block; }
    .forum-category-list { display: none; }
    .mobile-categories { display: block; }
}

@media (max-width: 768px) {
    /*-->company profile media queries */
    .page-center { width: 100%; }
    .disqus_container { width: 95%!important; }
    .recent-posts { float: none; width: 75%; margin: 0 auto; clear: both; }
    html, body { width: auto !important; overflow-x: hidden !important; }
    .hs-marketplace-header-nav { margin-right: 0px; }
    .topic-info-container { width: 85%!important; text-align: left; }
    .topic-info { width: 70%; }
    /*-->topic post view replies */
    .reply-item-view { margin-bottom: 0px; }
    
    /*-->resources pop up modal */
    .resource-wrap .modal-dialog { width: 100%; padding: 20px 20px; }
}

@media (max-width: 720px) {
    .toggle-menu { display: block; }
    .hs-marketplace-header-nav { display: none; }
    .topic-comment-count { display: none; }
}

@media (max-width: 692px) {
    /*-->resources index */
    .featured-resource .resource-title, .featured-resource .resource-downloads {
        margin-left: 58px !important;
    }
    .edit-section > div { width: 100%; }
    .update-btn, .destroy-btn { margin: 5px; }
    .new-category-container { width: 98%; }
    .forum-category-list-mobile { float: none; }
    .new-thread-btn { display: none; }
    .mobile-new-thread-btn { display: block;  }
    .featured-resource .resource-title, .featured-resource  .resource-downloads { float: none!important; vertical-align: bottom; clear: both!important; display: block!important; margin-left: 58px; margin-left: 7.625rem; }
    .featured-resource .resource-downloads .download-count  { float: none!important;  }
}

@media (max-width: 558px) {
    /*-->marketplace navigation container */
    .hs-marketplace-header-nav .market-nav ul li { float: none!important; }
    .market-header-logo a img { max-width: 200px; }
}

@media (max-width: 552px) {
    .topic-item div { margin-left: 8%; }
}

@media (max-width: 550px) {
    .resource-share div { display: block; clear: both!important; }
    .reply-author-details { margin: 0; padding: 6px 0; }
    p.author-info { padding: 6px 8px; }
    .author-img { max-width: 80px; margin: 10px 0px 10px 5px;  }
    .new-thread-btn { float: none; margin-left: 0; }
}

@media (max-width: 482px) {
    /*-->forum topic item containers & inner elements */
    .topic-item div { margin-left: 7%; }
    .topic-info { width: 90%!important; }
    .subscribe-button { width: 100%; }
    .mobile-new-category-btn { width: 100%; margin-bottom: 10px; }
    .mobile-new-thread-btn { display: block; float: none !important; clear: both; }
    .topic-item-view .topic-info { width: 100%!important; }
    .topic-item div { margin-left: 0!important; }
    .topic-info > .topic-title { font-size: 20px; font-size: 1.25rem; line-height: 1.5; }
}

@media (max-width: 465px) {
    .toggle-menu { margin-right: -80px; }
    .forum-reply-view h2 { float: none; }
    .reply-author-details { margin: 0; padding: 6px 0; }
    p.author-info { padding: 6px 8px; }
    .author-img { max-width: 80px; margin: 10px 0px 10px 5px;  }
}

@media (max-width: 374px) {
    .topic-list-information .btn { margin-top: 10px; }
    .topic-item-view .author-img img { position: absolute; top: -20px; left: -50px; right: 0; width: 38px; }
    .topic-item-view .author-img img.badge-profile { left: -25px; width: 13px; top: 14px; z-index: 1; }
    .reply-item-view .author-img img { position: absolute; top: -20px; left: -50px; right: 0; width: 38px; }
    .reply-item-view .author-img img.badge-profile { left: -25px; width: 13px; top: 1px; z-index: 1; }
}