/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 12, 2015, 2:27:13 PM
    Author     : impulse
*/
#addNewResource p.red-text { font-size: 12px; font-size: 0.75rem; margin-top: 10px; margin-bottom: 5px; }

/* RESOURCE TOOLS */
.create-resource, .check-trash { padding: 0; margin: 0; }
.create-resource a, .check-trash a { float: right; }

@media(max-width: 1200px) {
    .create-resource a { margin-left: 5px; }
}