/* 
    Created on : Jul 15, 2014, 1:38:40 PM
    Author     : derek
*/

/* Eric Myer's HTML5 Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    font-family: 'Open Sans',sans-serif;
}
.login-body {
    background: #412985 url(http://cdn2.hubspot.net/hub/37772/file-1804629894-png/moving-logo-top.png) 102% top no-repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td { word-wrap: break-word; }
/* Some changes */
/*html,body { height: 100%; }*/
.clear { clear: both; }
a { text-decoration: none; }
a:hover { text-decoration: none;  }
p { font-size: inherit; line-height: inherit; font-weight: 200; }
strong { font-weight: 700; }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* Global Styles */
/* Set base colors, sizes, padding, margins and such */
h1, h2, h3, h4, h5 { font-weight: 200; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
hr { margin-top: 10px; margin-bottom: 10px; }
body { word-wrap: break-word; }
.green-background { background: #A6CE39!important; }
.purple-background { background: #412985; }
.purple-transparent-background { background: rgba(65,41,133, 0.8); margin-top: 2.8%; }
.dark-gray-background { background-color: #3e3e3d; }
.transparent-background { background: rgba(65,41,133, 0.8); }
.purple-text { color: #412985; }
.purple-text-force { color: #412985!important; }
.orange-background { background: #F58220; }
.orange-text { color: #F58220!important; }
.force-orange-text { color: #F58220!important; }
.red-text { color: red; }
.white-text, a.white-text:hover { color: white; }
 
.white-background { background: #fff; }
.white-text { color: #fff !important; }
.black-overlay { background: rgba(0, 0, 0, 0.6); height: 705px; }
.gray-background { background: rgba(204, 204, 204, 0.6); }
.gray-text { color: rgb(204, 204, 204); }
.small-margin { margin-top: 20px; margin-bottom: 20px;  }
.small-padding { padding: 10px 0; }
.small-margin-waist { margin-left: 10px; margin-right: 10px; }
.medium-padding { padding: 40px 0; }
.medium-waist { padding-left: 40px; padding-right: 40px; }
.large-padding { padding: 80px 0; }
.lighter { color: #a0a0a0; }
.center { display: block; text-align: center; }
.center div, .center img, .center span { display: inline-block; }
.center-text { text-align: center; }
.pull-right { float: right; }
.pull-left { float: left; }
.pull-div-right { float: right; }
.pull-div-left { float: left; }
.justify-text { text-align: justify; }
.left-text { text-align: left; }
.right-text { text-align: right; }
.hidden { display: none; }
.fix-block { display: block; }
.inline-element { display: inline-block; }
.block-element { display: block; }
.less-heavy-font { font-weight: lighter; }
.lighter-font { font-weight: 100; }
.large-orange-cta { font-size: 2.1em; padding: 20px; }
.pds-conference-cta { background: #412985; padding: 10px 10px; color: white; border: 10px; border-radius: 6px; margin: 5px 5px; }
.pds-conference-cta:hover { color: white; }
.dark-orange-background { background: #E27A22; color: #fff; }
.page-center { width: 1100px; float: none; margin: 0 auto; }

/* Main Content Styles */
#main-content { /*text-align: center;*/ }
#main-wrap { margin-top: 12%;  margin-left: 15%; }

/* ========================
 * HEADER STYLES
 * ========================
 */
/*-->mini profile and basic nav */
.mini-profile li { display: inline-block; }
.seperator { padding-left: 10px; padding-right: 10px; }

/*-->nav */
.slicknav_menu {
    display:none;
}
.slicknav_btn { background: rgb(65,41,133); border: 1px solid white; }
.slicknav_nav li { padding: 3px!important; }
body .mobile-logo { width: 100px!important; float: left; margin-top: 10px; }
body .mobile-logo img { width: 155px; }
#menu { display: none; }
@media screen and (max-width: 768px) {
    #menu { display:none; }  
    .slicknav_menu { display:block!important; }
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: transparent!important;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, 
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    background: white!important;
    color: black;
}
ul.dropdown-menu { height: auto; }
.navbar-nav ul > li#training { background: transparent!important; }
#training:hover { background: transparent!important; }
.hidden-site-nav { display: none; padding-left: 10px; padding-right: 10px; }
.navbar-inverse.hidden-site-nav { background: rgba(65,41,133, 0.8); }
.site-nav-collapse { background: transparent; border-bottom: none; }
.site-main-navigation { background: transparent!important; border-bottom: none; }
.header-overlay { background: rgba(65,41,133, 0.6); height: 283px; padding: 10px 0px; width: 100%; margin-top: -10px; }
li.white-header-item { float: right; }
#pds-phone { margin: 2px 10px; }
#pds-phone a { color: #a0a0a0!important; }
.market-header { width: 100%; height: 84px; background: url(http://cdn2.hubspot.net/hub/37772/file-1875924958-jpg/people_in_store.jpg?t=1414772749224) 50% 0% no-repeat; height: 283px; }
.header { display: block; }
.header-nav { display: block; margin-top: 13px; margin-left: 10px; }
.site-nav { /*navigation wrapper*/ }
.header-nav .site-nav ul li.nav-item { float: left; margin: 0 10px; margin-top: 10px; }
.header-nav .site-nav ul li.nav-item:last-child { margin-right: 0px; }
.header-nav .site-nav ul li.nav-item a { text-decoration: none; }
.header-nav .site-nav ul li.nav-item a.nav-link { color: white; padding: 24px 2px!important; }
.header-nav .site-nav ul li.nav-item:hover a.nav-link {  border-bottom: 8px solid white; }
.header-nav .site-nav ul li.sub-item a { color: #412985; padding: 10px 5px!important; background: white; border-bottom: 2px solid black; }
.header-nav .site-nav ul li.sub-item:hover a {  background: #efefef!important; }
.header-nav .site-nav ul li.sub-item:last-child a { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border: none; }

.navbar-fixed-top { border: 0; }
.navbar-inverse { background: #412985; }
.navbar-inverse .navbar-nav>li>a { color: #efefef; }

.navbar-static-top { margin-bottom: 0px; }
.navbar-header { border: none; }
.navbar-header img { width: 70%; }
.navbar-toggle { background-color: #F58220; }
.navbar-toggle .icon-bar { background-color: white; }

.navbar-nav>li>.dropdown-menu { margin-top: 21px; left: -1px; }~
.dropdown-menu { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background-color: transparent!important; padding: 0 0;}

/* ===========================
 * MYPDS MENU DROPDOWN STYLES
 * ===========================
 */
.dropdown-menu a.nav-link { color: #412985; padding-left: 5px; }
.dropdown-menu a.nav-link:hover { color: #F58220; }
.dropdown-menu li { padding: 0px!important; margin: 5px 0px!important; width: 158px; }
.dropdown-menu li:hover { border-bottom: none!important;  }

@media (max-width: 768px) {
    .header-nav .site-nav ul li.nav-item a.nav-link { color: white; padding: 5px 2px!important; }
    .header-nav .site-nav ul li.nav-item:hover a.nav-link {  border: none; }
    .site-nav-collapse, .site-nav { background: transparent!important; }
    header { display: none; }
    .navbar-nav { margin-left: 0px!important; }
    .header-nav { float: left!important; }
    .navbar-header img { float: left!important; }
    .hidden-site-nav { display: block; }
    .site-nav { background: #412985; }
    .market-header { height: auto!important; }
    .navbar-header img { width: 45%; }
    .header-nav { float: none!important; }
    .page-header-title { display: none; }
    .header-nav .site-nav ul li.nav-item { float: none!important; }
}
@media (max-width: 1010px) {
    .header-nav { float: none!important; }
    /* this should do the trick */
    .nav-container { width: 520px; margin: 0 auto; }
    .well { float: none; -webkit-column-count: 3; width: 100%; }
    .company-name-container { -webkit-column-count: 3; width: 100%; }
    .vendor-list { width: 100%; }
    .navbar-nav { width: 520px; margin: 0 auto; }
    .navbar-header { float: none; text-align: center; }
    .navbar-header img { width: 35%; }
    .page-header-title h1 { font-size: 30px!important; font-size: 3rem!important; }
}
/*-->header page title under nav */
.page-header-title { color: white; text-align: center; margin-top: 2rem; padding: 20px 20px; }
.page-header-title h1 { font-size: 4em; }

/* FIXING RESOURCE GROUP MANAGER H1 TAG */
.group-add-form-container-title h1 { font-size: 25px; padding-top: 10px; padding-bottom: 10px;  }

/* FIXING RESOURCE MAIN VIEW STYLES */
.hs_forum_cta img { width: 100%; }

/* FORUM MANAGER STYLES
=============================================*/
.forum-data-container > h2 { padding-top: 18px; padding-bottom: 20px; }
.forum-data-container > .new-category-container { margin-left: 20px; }
.forum-manager-title { margin-top: 20px; margin-bottom: 20px;  }
.topic-manager-pagination { margin-top: 20px; }

/* ========================
 * LOGIN / SIGNUP
 * ========================
 */
/* Call Number */
#call-us { margin-top: 20px; color: white; max-width: 300px; min-width: 150px; }
#call-us span { float: left; }

/* hidden hubspot account finder styles */
.hs-acc-finder {display: none; position: relative; width: 100%; border-radius: 5px; }
.hs-acc-finder p { color: #F58220; font-size: 1.0em; }
.hs-acc-finder hr { margin-top: 0px; }

#hs-acc-img-holder { text-align: center; }
#hs-acc-name { color: #F58220; }
#hs-acc-mail { color: black!important; }

#no-photo-text { padding-top: 40%!important; color: black!important; font-size: 1.0em!important; }

.acc-info { list-style: none; margin-top: 2%; text-align: center; }

#decision-buttons { text-align: center; color: #F58220; text-decoration: none; }

#thats-me {
    background-color: #F58220;
    color: white;
    padding: 10px 10px;
    border-radius: 3px;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}
#thats-me:hover { color: black; background-color: white; cursor: pointer; text-decoration: none; }

#not-me {
    background-color: gray;
    color: white;
    padding: 10px 10px;
    border-radius: 3px;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}
#not-me:hover { color: black; background-color: white; cursor: pointer; text-decoration: none; }

/* ajax gif loader */
.ajax-load-gif {
    background: url('http://www.thewrap.com/wp-content/themes/hottopix/images/loading.gif') no-repeat center;
    width: 25px;
    height: 25px;
    z-index: 10000;
    float: left;
    display: none;
    margin-left: 3%;
}

/* ajax loading gif */
body.loading .ajax-load-gif { display: block; }

/* Login Styles */
.pds-logo { text-align: center; }

.pds-logo img {  }
.pointer { cursor: pointer; }


#login-container {
    max-width:400px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
    padding: 20px 20px;
    border-radius: 5px;
    margin-top: 10%;
}
.inp-field, .inp-search-field, .login-form-submit { margin: 10px 0px 10px 0px; width: 100%; }
.inp-field { height: 40px; border-radius: 5px; border: solid 1px #ccc; padding: 9px; }
.inp-search-field { height: 40px; border: solid 1px #ccc; padding: 9px; border-radius: 0; }

#pds-login textarea:focus,
#pds-login input:focus { outline: 0; background-image: none; background-color: #ffffff; border: solid 1px #8A008A; }

/* Submit Button */
#submit { max-width: 150px; margin: 0 auto; }

.login-form-submit {
    height: 40px;
    border-radius: 5px;
    background-color: rgb(246,135,31) !important;
    color: white;
    border: none;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    border: 2px solid rgb(246,135,31);
    float: left;
}

.login-form-submit:hover {
    height: 40px;
    border-radius: 5px;
    color: rgb(246,135,31)  ;
    background: none !important;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}

/* Remember Me -- remember me box style */
#remem-creds { margin-top: 5%; float: right; }

/* Forgot Pass and Sign up prompts */
.sign-up-cta, .forgot-pass-cta { float: left; }

.extra-stuff { font-size: 12px; }

.extra-stuff a { color: #F58220; }
.extra-stuff a:hover { cursor: pointer; }
.extra-stuff span { float: left; margin-left: 15px; }

.forgot-pass-cta { float: right; text-align: right; }

/* CTA Styles */
.cta-area { text-align: center; margin-top: 40px; }
.cta_button { max-width: 100%; }
.sign-up-cta { padding: 5px 13px; }

/* Footer Styles */
#main-footer { padding: 20px 20px; text-align: center; max-height: 30px; }
#footer-tm { color: #fff; }

/*-->logo */
.market-header-logo { display: inline-block; }
.logo-small-preview, .market-header-logo img { max-width: 300px; }

/*-->hidden navigation button */
.mobile-nav-btn { background-color: #F58220; border-color: #F58220; }
.mobile-nav-btn:hover { background: whitesmoke; border-color: whitesmoke; color: black; }


/* DASHBOARD */

#sign-up-container {
    height: 500px;
    width: 800px;
    background-color: rgba(255,255,255,0.3);
    padding: 20px 20px;
    border-radius: 5px;
    margin-left: 7%;
    margin-top: 10%;
}

#sign-up-sidebar {
    height: 500px;
    width: 300px;
    background-color: rgba(255,255,255,0.3);
    padding: 10px 10px;
    border-radius: 5px;
    margin-right: 13%;
    margin-top: 10%;
}
#sign-up-row { width: 80%; margin: 0 auto; }


/* ========= Getting Started ========= */
.notification-alert img { max-width: 30px; border-radius: 100%;  }
.notification-alert span.notification-fix { margin: 5px 0 0 15px; }
.notification-alert span.time { margin: 5px 15px 0 0;  }
.notification-alert span { margin-top: 5px; vertical-align: top; display: inline-block; }
.mini-profile { color: #ccc; }
.mini-profile a { color: #fff; display: inline-block; vertical-align: middle; }

.mini-profile .badge { background: #fff; color: #F58220; padding: 3px 6px; vertical-align: bottom; }


.getting-started-display .glyphicon.glyphicon-ban-circle { color: red; }
.getting-started-display .glyphicon.glyphicon-check { color: green; }
.getting-started-display .center { position: relative; }
.getting-started-display .center .glyphicon { position: absolute; top: 40%; left: 41%; }
.notification-alert .user-image .badge-profile { display: none; }
.user-image { position: relative; display: inline-block; background-repeat: no-repeat; background-size: cover!important;}
.user-image img { width: 100%;  }
.user-image .stop { }
.user-image.member { border: 2px solid #412985; }
.profile-image-container { position: relative; float: right; }
.badge-profile { position: absolute; max-width: 20px; bottom: 0; right: 0; z-index: 100; }
.make-badge-larger .badge-profile { max-width: 25%!important;}
.display-profile-image > div { width: 175px; height: 175px; border-radius: 100%; overflow: hidden;}
.display-profile-image img:nth-of-type(2) { height: 100%; }

/* sign-up-container header text */
#sign-up-header-text h1{ color: #F58220; font-size: 1.6em; padding-bottom: 5px; }

/* ========= RESOURCES  ========= */
.add-new-resource-container .input-group { width: 100%; }
.thumbnail-img i { padding: 5px; }

/* ========= HIDDEN SIGN UP PORTION OF FORM ON LOGIN PAGE  ========= */
#hidden-form { display: none; }

/* ========= FORCE BLOCKER ======== */
.force-blocker-message { margin-top: 400px; }
.blocker-text h1 { margin-top: 3%; font-size: 24px; }


.force-transparent-background { background: rgba(250,250,250, 0.3); padding: 20px 20px; border-radius: 10px; }

/* ========= FORGOT PASS    ========= */
.forgot-pass-container { margin: 0 auto; width: 50%; margin-top: 20%; }
.forgot-pass { margin: 0 auto; width: 70%;  }
#remem-checkbox { margin-left: 10px; }

/* ========= MAIN WEBSITE FOOTER ==============*/
/* Footer */
.orange-footer-divider { padding: 10px 10px; }
.market-footer { line-height: 1.5em; }
.footer h2 { color: white; }
.footer { display: block; font-weight: 100; margin-top: 20px; }
.footer-col { display: inline-block; width: 289px; padding: 10px 10px; vertical-align: top; }
.footer-col ul li a { color: #F58220; }
.footer-col ul li a:hover { text-decoration: none; color: #FF8319; }
.social-icon { float: right; padding: 5px 20px; display: table; }
.social-icon a { display: table-cell; }
.social-icon a:hover { opacity: 0.65; }
.social-icon a img { max-width: 35px; max-height: 35px; vertical-align: middle; }
.twitter-icon { max-width: 40px!important; }
.logout { margin-left: 15px;}
.site-footer > .footer > .footer-social-links ul li { display: inline-block; font-size: 20px; font-size: 1.25rem; margin: 10px 10px; margin: 0.625rem 0.625rem; }

/*========== myPDS Stragglers =========*/
form#hsForm_12741335-4fc1-44d6-ab8a-eba779661ebe label { margin-left: 10px; }


/*-->myPharmacy pending response block */
.approval-pending p { line-height: 1.5; }
.approval-pending a { color: #F58220; }
.approval-pending { background: white; padding: 10px; margin-top: 20px; }

/*-->myPharmacy pharmacy detail lists */
.pharmacy-specifics .list-group span.text-muted { font-size: 12px; font-size: 0.75rem; }

/*-->myPharmacy employees table */
.employee-list { padding: 0px 14px; }

/* Add or Create Pharmacy Modal */
a.list-group-item:hover { background: #E2E2E2!important; }
.fix-button { margin-top: 5px!important; }
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #F58220;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}





/* ========= MEDIA QUERIES  ========= */

@media (max-width: 1200px){
  /*-->footer */
  .page-center { max-width: 95%; }
  .social-icon { float: left; }
  
  /*-->resources main index */
  .resource-wrap .featured-resource { min-height: 92px; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    /* nothing yet */
}

@media (max-width: 768px) {
    .forum-header .forum-nav.vcenter { display: none!important; } 
    .site-nav-collapse { background: #412985; }
    .white-pre-header { display: none; }
    #login-container { margin-top: 25%; }
    #dash-nav li { display: block!important; font-size: 12px; font-size: 0.75rem; text-align: left; }
}

@media (max-width: 720px) {
    .toggle-menu { display: block; }
    .hs-marketplace-header-nav { display: none; }
}

@media (max-width: 660px) {
    .mini-profile { display: none!important; }
    .forum-header .container { display: none; }
    .page-header { display: none; }
    .table-responsive>.table>tbody>tr>td { word-wrap: break-word!important; white-space: normal; }
}

/* mobile - small */
@media (max-width: 480px) {
    #login-container { left: 52%; }
    #remem-creds { margin-top: 30%; }
    .forgot-pass-cta { margin-top: 10px; }
}

@media screen and (device-width: 460px) and (device-height: 768px) {
    .forgot-pass-cta { margin-top: 0px; }    
}

/* HTC One fix */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .forgot-pass-cta { margin-top: 0px; }
}
/* floating notifications */

.pop-notifications {
  position: fixed;
  z-index: 9999;
}

/* Positioning */ 
.pop-notifications.top-right {
    right: 10px;
    top: 25px;
}

.pop-notifications.top-left {
    left: 10px;
    top: 25px;
}

.pop-notifications.bottom-left {
    left: 10px;
    bottom: 25px;
}

.pop-notifications.bottom-right {
    right: 10px;
    bottom: 25px;
}

/* Notification Element */
.pop-notifications > div {
  position: relative;
  margin: 5px 0px;
}

.forum-header.purple-background .container { position: relative; }
#adminMenu { position: absolute; top: 20px; left: 33px; }
#adminMenu i.fa-cogs { color: #fff; font-size: 25px; }

.hide-notification { display: block!important; }
.email-preferences li { padding: 5px 0 5px 10px; }
#cog-menu { background: white; border-bottom: 2px solid #F58220; text-align: center; }
#cog-menu { display: none; }
#dash-nav li { display: inline-block; font-size: 12px; font-size: 0.75rem; }
#cog-menu ul li a { color: #F58220; }
#cog-menu .nav-sidebar { margin-bottom: 0!important; margin-top: 0!important; }
#account-list-container .user-image { max-width: 70px; }
#account-list-container .badge-icon { max-width: 50px;}
.smaller { font-size: smaller; }

/* resource loading overlay */
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  z-index: 99;
  text-align: center;
}

#loading > .translucent {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=30);
    border: 2px solid #F58220;
}

#loading > div.text {
    position: absolute;
    top: 40%;
    color: rgba(0, 0, 0, 1);
    font-size: 27px;
    font-size: 1.6875rem;
    left: 39%;
    z-index: 100;
    width: 25%;
}    

.uiload {
  display: inline-block;
  position: relative; }
  .uiload > div {
    position: relative; }

@-webkit-keyframes uil-flickr-anim1 {
  0% {
    left: 0; }

  50% {
    left: 100px; }

  100% {
    left: 0; } }

@-moz-keyframes uil-flickr-anim1 {
  0% {
    left: 0; }

  50% {
    left: 100px; }

  100% {
    left: 0; } }

@-ms-keyframes uil-flickr-anim1 {
  0% {
    left: 0; }

  50% {
    left: 100px; }

  100% {
    left: 0; } }

@keyframes uil-flickr-anim1 {
  0% {
    left: 0; }

  50% {
    left: 100px; }

  100% {
    left: 0; } }

@-webkit-keyframes uil-flickr-anim2 {
  0% {
    left: 100px;
    z-index: 1; }

  49% {
    z-index: 1; }

  50% {
    left: 0;
    z-index: 10; }

  100% {
    left: 100px;
    z-index: 10; } }

@-moz-keyframes uil-flickr-anim2 {
  0% {
    left: 100px;
    z-index: 1; }

  49% {
    z-index: 1; }

  50% {
    left: 0;
    z-index: 10; }

  100% {
    left: 100px;
    z-index: 10; } }

@-ms-keyframes uil-flickr-anim2 {
  0% {
    left: 100px;
    z-index: 1; }

  49% {
    z-index: 1; }

  50% {
    left: 0;
    z-index: 10; }

  100% {
    left: 100px;
    z-index: 10; } }

@keyframes uil-flickr-anim2 {
  0% {
    left: 100px;
    z-index: 1; }

  49% {
    z-index: 1; }

  50% {
    left: 0;
    z-index: 10; }

  100% {
    left: 100px;
    z-index: 10; } }

.uil-flickr-css {
  background: none;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 45%;
  width: 200px;
  height: 200px;}
  .uil-flickr-css > div {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: 50px; }
  .uil-flickr-css > div:nth-of-type(1) {
    left: 0;
    background: #F58220;
    z-index: 5;
    -ms-animation: uil-flickr-anim1 1.5s linear infinite;
    -moz-animation: uil-flickr-anim1 1.5s linear infinite;
    -webkit-animation: uil-flickr-anim1 1.5s linear infinite;
    -o-animation: uil-flickr-anim1 1.5s linear infinite;
    animation: uil-flickr-anim1 1.5s linear infinite; }
  .uil-flickr-css > div:nth-of-type(2) {
    left: 100px;
    background: #412985;
    -ms-animation: uil-flickr-anim2 1.5s linear infinite;
    -moz-animation: uil-flickr-anim2 1.5s linear infinite;
    -webkit-animation: uil-flickr-anim2 1.5s linear infinite;
    -o-animation: uil-flickr-anim2 1.5s linear infinite;
    animation: uil-flickr-anim2 1.5s linear infinite; }

/* BUTTON TO REVERSE GHOSTING STYLES
=======================================*/
.reverse-ghosting a {
    position: absolute;
    top: 0;
    color: white;
    background: #412985;
    padding: 10px;
    z-index: 1000000;
}

/* BOOTSTRAP WISYWIG EDITOR */
.editor { border: solid 1px #ccc; margin-bottom: 10px; border-radius: 5px; }
.editor { overflow: scroll; height: 300px; background: white; padding: 10px; margin-top: 10px; }
.editor b { font-weight: bold; }
.editor i { font-style: italic; }
.editor ul li { list-style: inherit; list-style-type: disc; margin-left: 40px; } 
.editor ol li { list-style: inherit; margin-left: 40px; list-style-type: decimal; }
#pictureBtn i:hover { cursor: pointer; }
.editor-add-image { opacity: 0; position: absolute; top: 0px; left: 0px; width: 37px; height: 30px; z-index: 100000; }
.editor-add-image:hover { cursor: pointer; } 
@media (max-width: 767px) {
    #loading > div.uil-flickr-css { top: 5%; }
    #loading > .translucent { top: 0; }
}

@media (max-width: 550px) {
    #loading > div.uil-flickr-css {
        left: 23%!important;
    }
}


