/* ========================
 * MARKETPLACE STYLESHEET
 * @author Derek J. Foster
 * ========================
 */

/* marketplace header */
.header-overlay { background: rgba(65,41,133, 0.6); height: 283px; padding: 10px 0px; width: 100%; margin-top: -10px; }
.fix-menu { color: #A0A0A0!important; }
.white-pre-header li { margin: 2px 10px; }
/* Main Content */
.page-wrap { float: right; width: 100%; background: #fff; }

.content { padding: 0 0; }
/*-->hidden media logo */
.hidden-logo { display: none; }
/*-->Description */
.company-description p, .company-contact p { line-height: 1.8em; }
.company-description p span { font-weight: 900; }
/*-->Contact */
.company-contact { line-height: 1.5em; }
.sidebar-module-inset { padding: 15px; background-color: white; border-radius: 4px; }
.sidebar-module-inset p { line-height: 1.5em; }
.sidebar-module { padding: 15px; margin: 0 -15px 15px; }
.company-logo-container img { max-width: 200px; }

/* Company Form */
.company-form-submit { width: 100%; background: #F58220; border: 1px solid #F58220; }
.company-form-submit:hover { background: #FF8319; border: 1px solid #FF8319; }

/* Footer */
.orange-footer-divider { padding: 10px 10px; }
.market-footer { line-height: 1.5em; }
.footer h2 { color: white; }
.footer { display: block; }
.footer-col { display: inline-block; width: 33%; padding: 10px 10px; vertical-align: top; }
.footer-col ul li a { color: #F58220; }
.footer-col ul li a:hover { text-decoration: none; color: #FF8319; }
.social-icon { float: right; padding: 5px 20px; display: table; }
.social-icon a { display: table-cell; }
.social-icon a:hover { opacity: 0.65; }
.social-icon a img { max-width: 35px; max-height: 35px; vertical-align: middle; }
.twitter-icon { max-width: 40px!important; }
.hidden-real-email, .hidden-real-vendor { display: none!important; }

/* ========================
 * MARKETPLACE COMPANY LIST
 * ========================
 */
/*-->featured vendors */
.panel-default { height: 320px; }
.panel-default>.panel-heading { background: #412985!important; }
.featured-listings { padding: 0; }
.featured-item { display: block; }
.panel-heading { color: white!important; }
.featured-item div { display: inline-block; }
.featured-img { width: 30%; }
.featured-img img { width: 100%; }
.featured-description { font-size: 18px; font-size: 1.1rem; line-height: 1.5; }
.featured-data h2 { font-size: 30px; font-size: 2rem; line-height: 1.5; }

/*-->filter list */
.category-list li { padding: 10px 10px; }
.category-list li a { color: #412985; }
.filter-container { width: 300px; position: relative; }
.item-categories { font-size: 12px; font-size: 0.8rem!important; padding: 10px 10px; border-radius: 3px; margin-top: 10px; }

.marketplace-description h2 { font-size: 20px; line-height: 3rem; }

.company-name-container { -webkit-column-count: 3; -moz-column-count: 3; -moz-column-gap: 5px; -ms-column-count: 3; -ms-column-gap: 5px; -webkit-column-count: 3; -webkit-column-gap: 5px; column-count: 3; column-gap: 5px; }
.company-name-container p { font-size: 16px; margin: 10px 10px; font-size: 1rem; }
.company_name a { color: #412985!important; }
.pagination-wrap { text-align: center; }
.pagination li.active a { color: #F58220; background: #412985; border: 1px solid #412985; }
.pagination li a {  color: #412985; }
.pagination li a:hover { color: #F58220; background: #412985!important; }

/*-->list container */
.company-list-header h2 { font-size: 26px; font-size: 1.7rem; }
.company-container { display: table; }
.company-title { display: none; }
.company-summary { width: 100%; vertical-align: top; }
.company-summary h2 { margin-bottom: -16px; font-size: 32px; font-size: 2rem;  }
.company-summary h2 a { color: #412985; text-decoration: none; }
.company-summary h2 a:hover { color: rgba(65, 41, 133, 0.8); }
.company-summary p { line-height: 1.5em; font-size: 1.2rem;  }
.company-summary p a { color: #F58220; }
.company-img { vertical-align: middle!important; display: table-cell!important; width: 200px; }
.company-img, .company-summary { padding: 20px 20px; }

.company-title h1 { font-size: 38px; font-size: 2.5rem; }
.company-description h2, .company-contact h2 { fonts-size: 28px; font-size: 1.5rem; font-weight: 400; }

/* ========================
 * COMPANY PREVIEW
 * ========================
 */
 /*-->indent uls */
.company-description ul { padding-left: 8%; list-style-type: initial; }
.company-description strong, .company-description b { font-weight: 700; }
.company-description i { font-style: italic; }

/* ========================
 * MEDIA QUERIES 
 * ========================
 */

@media (max-width: 1200px){
  /*-->footer */
.panel-default { height: 450px; }
  .social-icon { float: left; }
}

@media ( max-width: 992px ) {
  .panel-default { height: 350px; }
}

@media (max-width: 768px) {
  /*-->company profile media queries */
  .filter-container { width: 100%; }
  .dropdown-menu { min-width: 190px; right: 0!important; }
  .company-title { display: block; }
  .pagination-wrap { margin-top: 5%; }
  .hs-form { max-width: 75%; margin: 0 auto; }
  .company-logo-container { display: none; }
  .hidden-logo { display: block; text-align: center; }
}

@media (max-width: 720px) {
  .company-summary p { text-align: justify; }
}

@media ( max-width: 662px ) {
  .panel-default { height: auto!important; }
  .panel-body { width: 100%!important; height: 500px; }
  .featured-data { width: 100%; }
  .featured-img { width: 100%; margin: 20px 10px; }
  .featured-description { display: none; }
}

@media (max-width: 560px) {
  .well { -webkit-column-count: 2; }
}

@media (max-width: 550px) {
  /*-->company list media queries */
  .company-container { display: block; }
  .company-img { display: block!important; margin: 0 auto; }
  .company-title { padding: 40px 10px; }
  .panel-body { height: 400px; }
  .company-name-container { -webkit-column-count: 2; width: 100%; }
}

@media(max-width: 480px) {
    .panel-body { height: 300px; }
}