/* @import url('http://example.com/example_style.css'); */

 /***********************************************/
 /* CSS @imports must be at the top of the file */
 /* Add them above this section                 */
 /***********************************************/

 /****************************************/
 /* HubSpot Style Boilerplate            */
 /****************************************/

 /* This responsive framework is required for all styles. */
 {% include "hubspot/styles/responsive/required_base.css" %}

 /* These includes are optional, but helpful. */
 {% include "hubspot/styles/responsive/modules.css" %}
 {% include "hubspot/styles/patches/recommended.css" %}


 /*****************************************/
 /* Start your style declarations here    */
 /*****************************************/
/*
 You can use this CSS file as a guide in building out
 your HubSpot website. It contains the major elements needed
 to create your own custom style.
*/

/* Set main site font type */
html, body, p, span, div, li, a { font-family: 'Open Sans', sans-serif; line-height: 1.5em;} 
h1 { font-weight: 300!important; }
/* reset some annoyances */
body {
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
}

/* Set base colors, sizes, padding, margins and such */
.purple-background { background: #412985; }
.purple-transparent-background { background: rgba(65,41,133, 0.8); margin-top: 2.8%; }
.landing-page-transparent-background { background: rgba(65,41,133, 0.8); }
.purple-text { color: #412985; }
.orange-background { background: #F58220; }
.orange-text { color: #F58220; }
.white-text { color: white; }
.black-overlay { background: rgba(0, 0, 0, 0.6); height: 705px; }
.gray-background { background: rgb(204, 204, 204); }
.gray-text { color: rgb(204, 204, 204); }
.page-center.span12.widget-span.widget-type-cell { max-width: 1000px; margin: 0 auto; float: none; } 
.small-margin { margin: 2% 2%; }
.small-padding { padding: 10px 0px; }
.medium-padding { padding: 40px 0px; }
.lighter { color: #a0a0a0; }
.center { display: block; text-align: center; }
.center div, .center img, .center span { display: inline-block; }
.center-text { text-align: center; }
.pull-right { float: right!important; }
.pull-left { float: left!important; }
.justify-text { text-align: justify; }
.left-text { text-align: left; }
.right-text { text-align: right; }
.hidden { display: none!important; }
.fix-block { display: block!important; }
.inline-element { display: inline-block; }
.block-element { display: block; }
.less-heavy-font { font-weight: lighter; }
.lighter-font { font-weight: 100; }
.fix-top-margin { margin-top: 0.5%!important; }
/* Just for nick */
.move-under-STICKY-nav { margin-top: 5.5em!important; }
.pds-logo { width: 278px!important; padding: 10px 10px; }
/* Navigation */
.navigation-page-center.span12.widget-span.widget-type-cell { max-width: 81%; margin: 0 auto; float: none; }

.nav-menu {
    margin-top: 1.58%!important;
    margin-left: 2%!important;
}
.nav-menu { margin: 0.5em 0; font-size: 1em;}
.nav-menu ul { float: right; position: relative; }
.pds-header.fixed { z-index: 1000; position: fixed; top: 0; }
.nav-menu ul li { line-height: 1.5em; margin: 0em 1em; margin-bottom: 0;}
.nav-menu ul li:hover { 
    border-bottom: 8px solid white; 
    margin-bottom: -1em; 
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}
.nav-menu ul li.active a { color: white;  padding: 15px 2px!important; border-radius: 10px; }
.nav-menu ul li a { color: white; padding: 15px 2px!important; border-radius: 10px; }

/* Resources */
.cta-chooser-nav ul { width: 100%; }
.cta-chooser-nav ul li { padding: 0px 10px; margin-bottom: -1em; }
.cta-chooser-nav ul li:hover a { background: rgba(255,255,255,0.6); }
.cta-chooser-nav ul li.active a { color: #412985;  padding: 15px 13px!important; font-size: 1.5em; }
.cta-chooser-nav ul li a { color: #412985; padding: 15px 13px!important; border-radius: 10px; font-size: 1.5em; }

/*-->Cta Navigation Wrapper Styles */
.cta-nav-section { background: #F58220; padding: 20px 20px; }


/*-->conference feature area */
.conference-feature-section { 
    background: url(http://cdn2.hubspot.net/hub/37772/file-1508654433-png/Conference_Images/conference-header-hero.png) no-repeat center center rgba(0, 0, 0, 1); 
    margin-top: 3%;
    height: 600px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.reasons-cta {
    color: white!important;
    background: #412985;
    border-radius: 10px;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 1.8em;
    margin: 0% 2%;
    width: 465px!important;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    font-weight: lighter;
    cursor: pointer;
}
.reasons-cta:hover {
    background: rgba(65, 41, 133, 0.8)!important;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}
.conference-cta {
    color: white!important;
    background: #F58220;
    border-radius: 10px;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 1.8em;
    margin: 0% 2%;
    width: 465px!important;
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    font-weight: lighter;
    cursor: pointer;
}
.conference-cta:hover {
    background: rgba(245, 130, 32, 0.8);
    -webkit-transition: all .4s ease !important;
    -moz-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
}
.conference-section-margin { margin-top: 3%!important; }
.conf-feature-ctas { margin: 2em 1em; width: 100%; }
.member-only-cta { margin-top: 1%; }