/* 
    Created on : September 10th, 2014, 1:38:40 PM
    Author     : derek
*/

/* Eric Myer's HTML5 Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	line-height: 1;
        font-family: 'Open Sans',sans-serif;
}
.login-body {
    background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/138487/1003061/4xNhAU7zAHMYyI3/BG.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 50% 50% !important;
    background-color: #ccc;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Some changes */
html,body { height: 100%; }
.clear { clear: both; }
a { text-decoration: none; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../../css/Bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* Global Styles */
/* Set base colors, sizes, padding, margins and such */
h1, h2, h3, h4, h5 { font-weight: 400; }
h1 { font-size: 2.5em; color: white; }
h2 { font-size: 2.0em; color: black; }
.container { padding: 0 0; }
/*-->Backgrounds */
.green-background { background: #A6CE39; }
.purple-background { background: #412985; }
.purple-transparent-background { background: rgba(65,41,133, 0.8); }
.transparent-background { background: rgba(65,41,133, 0.8); }
.orange-background { background: #F58220; }
.complimentary-orange-bg { background: #FF8319; }
.white-background { background: #fff; }
.gray-background { background: rgb(204, 204, 204); }
.black-overlay { background: rgba(0, 0, 0, 0.6); height: 705px; }
.dark-orange-background { background: #E27A22; color: #fff; }

/*-->Text Colors */
.purple-text { color: #412985; }
.orange-text { color: #F58220; }
.red-text { color: red; }
.white-text { color: white; }
.off-white-text { color: #efefef; }
.gray-text { color: rgb(204, 204, 204); }
.lighter { color: #a0a0a0; }

/*-->Text Control */
.center-text { text-align: center; }
.justify-text { text-align: justify; }
.left-text { text-align: left; }
.right-text { text-align: right; }
.less-heavy-font { font-weight: lighter; }
.lighter-font { font-weight: 100; }

/*-->Margins */
.small-margin { margin: 2% 2%; }

/*-->Padding */
.small-padding { padding: 10px 0; }
.medium-padding { padding: 40px 0; }
.large-padding { padding: 80px 0; }

/*-->Grid help */
.center { display: block; text-align: center; }
.center div, .center img, .center span { display: inline-block; }

/*-->Floating */
.pull-right { float: right!important; }
.pull-left { float: left!important; }

/* Displays */
.hidden { display: none; }
.fix-block { display: block; }
.inline-element { display: inline-block; }
.block-element { display: block; }
.page-center { width: 1100px; float: none; margin: 0 auto; }

/* Forms */
/*-->input fields */
.inp-field { height: 40px; border-radius: 5px; border: solid 1px #ccc; padding: 9px; margin: 10px 0px; width: 100%;}

/* ========================
 * MARKETPLACE COMPANY PROFILE
 * ========================
 */
/* Header */
/*-->nav */
.header { display: block; }
.hs-marketplace-header-nav { display: block; margin-top: 13px; margin-left: 10px; margin-right: -36px;}
.hs-marketplace-header-nav .market-nav ul li.nav-item { 
  float: left;
  margin: 0 10px;
  margin-top: 10px;
}
.hs-marketplace-header-nav .market-nav ul li.nav-item:last-child { margin-right: 0px; }
.hs-marketplace-header-nav .market-nav ul li.nav-item a { color: white; }
.hs-marketplace-header-nav .market-nav ul li.nav-item a { text-decoration: none; }
.hs-marketplace-header-nav .market-nav ul li.nav-item:hover a { padding: 12px 0px; border-bottom: 8px solid white; }

/*-->logo */
.market-header-logo { display: inline-block; }
.market-header-logo img { max-width: 300px; }


/* Main Content */
.content { padding: 0 0; }
/*-->hidden media logo */
.hidden-logo { display: none; }
/*-->Description */
.company-description p, .company-contact p { line-height: 1.8em; }
.company-description p span { font-weight: 900; }
/*-->Contact */
.company-contact { line-height: 1.5em; }
/*-->Sidebar */
.sidebar-primary {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
.sidebar-module-inset { padding: 15px; background-color: white; border-radius: 4px; }
.sidebar-module-inset p { line-height: 1.5em; }
.sidebar-module { padding: 15px; margin: 0 -15px 15px; }
.company-logo-container img { max-width: 200px; }

/* Company Form */
.company-form-submit { width: 100%; background: #F58220; border: 1px solid #F58220; }
.company-form-submit:hover { background: #FF8319; border: 1px solid #FF8319; }

/* Footer */
.orange-footer-divider { padding: 10px 10px; }
.market-footer { line-height: 1.5em; }
.footer h2 { color: white; }
.footer { display: block; }
.footer-col { display: inline-block; width: 289px; padding: 10px 10px; vertical-align: top; }
.footer-col ul li a { color: #F58220; }
.footer-col ul li a:hover { text-decoration: none; color: #FF8319; }
.social-icon { float: right; padding: 5px 20px; display: table; }
.social-icon a { display: table-cell; }
.social-icon a:hover { opacity: 0.65; }
.social-icon a img { max-width: 35px; max-height: 35px; vertical-align: middle; }
.twitter-icon { max-width: 40px!important; }

/* ========================
 * MARKETPLACE COMPANY LIST
 * ========================
 */
.pagination-wrap { text-align: center; }
.pagination li.active span { color: #F58220; background: #412985; border: 1px solid #412985; }
.pagination li a {  color: #412985; }
.pagination li a:hover { color: #F58220; }
/*-->list container */
.company-container { display: table; }
.company-summary { width: 100%; vertical-align: top; }
.company-summary h2 { margin-bottom: -16px; }
.company-summary h2 a { color: #412985; text-decoration: none; }
.company-summary h2 a:hover { color: rgba(65, 41, 133, 0.8); }
.company-summary p { margin-top: -10px; line-height: 1.5em; }
.company-summary p a { color: #F58220; }
.company-img { vertical-align: middle!important; display: table-cell!important; width: 200px; }
.company-img, .company-summary { padding: 20px 20px; }

/* ========================
 * MEDIA QUERIES 
 * ========================
 */
@media (max-width: 550px) {
  /*-->company list media queries */
  .company-container { display: block; }
  .company-img { display: block!important; margin: 0 auto; }
  .company-title { padding: 40px 10px; }
}
@media (max-width: 768px) {
  /*-->company profile media queries */
  html, body { width: auto !important; overflow-x: hidden !important; }
  .hs-form { max-width: 75%; margin: 0 auto; }
  .company-logo-container { display: none; }
  .hidden-logo { display: block; text-align: center; }
}



/*-->footer */
@media (max-width: 1200px){
  .social-icon { float: left; }
}